<div class="page-width">
  <div class="two-heading-wrapper">
    {% if section.settings.title != blank %}
    <h2>{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.desc != blank %}
    <p class="description">
      {{ section.settings.desc }}
    </p>
    {% endif %}
  </div>
  <div class="grid grid--uniform grid--slider">
    {% for block in section.blocks %}
    <div class="grid__item medium-up--one-half">
      <a href="{{ block.settings.link }}/">
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: block.settings.image, height: 800, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
            class="feature-row__image lazyload"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ section.settings.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.link }}">
          </div>
        </div>
        <noscript>
          {{ block.settings.image | img_url: '600x600', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
        </noscript>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Two grid banner",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Heading"
  },
  {
    "type": "textarea",
    "id": "desc",
    "label": "Description"
  }
  ],
  "blocks":[
  {
    "type": "banner",
    "name": "Grid banner",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Image link"
    }
    ]
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
