<section class="page__content disney__villain" data-section-type="inspirations__page" data-section-id="{{ section.id }}">
  {% assign bg-img = section.settings.bg-img %}
  {% assign content-img = section.settings.content-img %}
  {% assign heading = section.settings.heading %}
  {% assign sub-heading = section.settings.sub-heading %}
  {% assign paragraph = section.settings.paragraph %}
  {% assign button-label = section.settings.button-label %}
  {% assign button-url = section.settings.button-url %}
  
  <div class="ed--wrapper">
  	<div class="flex_container direction_rev">
      <div class="villain_inspired">
        {% if content-img != nil %}
        <img src="{{ content-img | img_url: 'master' }}" alt="Enchanted Disney" />
        {% endif %}
        {% if heading != blank %}
        <h2>{{ heading }}</h2>
        {% endif %}
        {% if sub-heading != blank %}
        <h5>{{ sub-heading }}</h5>
        {% endif %}
        {% if paragraph != blank %}
        <p>{{ paragraph }}</p>
        {% endif %}
        {% if button-label != blank %}
        <a href="{% if button-url != blank %}{{ button-url }}{% endif %}" class="btn">
          {{ button-label }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  {% if bg-img != nil %}
  .disney__villain {
    background-image: url('{{ bg-img | img_url: 'master' }}');
  }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Content Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "content-img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "text",
        "id": "button-label",
        "label": "Button Text",
        "default": "SHOP NOW"
      },
      {
		"type": "url",
		"id": "button-url",
		"label": "Button URL"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
