<section class="theme__story ariel--story" data-section-type="theme__content" data-section-id="{{ section.id }}">
  {% assign section-bg = section.settings.bg-img %}
  {% assign heading = section.settings.heading %}
  {% assign sub-heading = section.settings.sub-heading %}
  {% assign content-img = section.settings.content-img %}
  {% assign letter-img = section.settings.letter-img %}
  
  <div class="ed--wrapper">
    {% if heading != blank %}
    <h2>{{ heading }}</h2>
    {% endif %}
    {% if sub-heading != blank %}
    <h5>{{ sub-heading }}</h5>
    {% endif %}
    {% if content-img != nil %}
    <img src="{{ content-img | img_url: 'master' }}" alt="Enchanted Disney" class="content-img"/>
    {% endif %}
    <div class="princess__story">
      {% if letter-img != nil %}
      <img src="{{ letter-img | img_url: 'master' }}" alt="Enchanted Disney" />
      {% endif %}
    </div>
  </div>
</section>

<style>
  {% if section-bg != nil %}
    .theme__story {
      background-image: url('{{ section-bg | img_url: 'master' }}');
    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Theme Princess Story",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-img",
		"label": "Background"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
		"type": "image_picker",
		"id": "content-img",
		"label": "Image"
      },
      {
		"type": "image_picker",
		"id": "letter-img",
		"label": "Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


