{% if order.customer.has_account  %}
{% else %}
<div id="thankyou-set-sidedrawer">
  <section class="innerpage__banner">
    <div class="ed--wrapper">
      <h2>Create an Account<a id="set-password-drawer_close" href="#"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg></a></h2>
      <div class="register__account" id="checkout_page-Set-Password">
        <p>With an Enchanted Disney Fine Jewelry account, you can save time during checkout, access your shopping from any device and exclusive rewards everytime you shop.
          <br />
        </p>
        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
        <input type="hidden" name="customer[tags]" value="Thank you">
        <div class="input-group">
          {% comment %}<label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>{% endcomment %}
          <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" value="" autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}">
          <div data-form-error></div>
        </div>

        <div class="input-group">
          {% comment %}<label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>{% endcomment %}
          <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" value="" autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}">
          <div data-form-error></div>
        </div>
        <div class="input-group">
          <div class="birthdate">
            <input type="date" value="" name="customer[note][birthday]" id="birthday"  aria-required="true" placeholder="Birth Date" required>
            <label for="birthday">Birth Date</label>
          </div>
          <div data-form-error></div>
        </div>
        <div class="input-group">
          {% comment %}<label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>{% endcomment %}
          <input
                 type="email"
                 name="customer[email]"
                 id="{{ formId }}-email"
                 class="{% if form.errors contains 'email' %} input--error{% endif %}"
                 {% if order.customer.email %} value="{{ order.customer.email }}" disabled="disabled"{% endif %}
                 autocorrect="off"
                 autocapitalize="off"
                 autocomplete="email"
                 aria-required="true"
                 {%- if form.errors contains 'email' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 placeholder="{{ 'customer.register.email' | t }}"
                 >
          <div data-form-error></div>
        </div>
        <div class="input-group">
          {% comment %}<label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>{% endcomment %}
          <input
                 type="password"
                 name="customer[password]"
                 id="{{ formId }}-password"
                 class="{% if form.errors contains 'password' %} input--error{% endif %}"
                 aria-required="true"
                 value=""
                 {%- if form.errors contains 'password' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-password-error"
                 {%- endif -%}
                 placeholder="Create {{ 'customer.register.password' | t }}"
                 >
          <div data-form-error></div>
        </div>

        <div class="checkbox-wrapper">
          <input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" checked>
          <label for="accepts_marketing" class="agree_label">I agree to receive emails from Renaissance Global.</label>
        </div>

        <p class="text-center">
          <input type="submit" id="submitted-set-password-form" value="{{ 'customer.register.submit' | t }}" class="btn">
        </p>

        {% endform %}

      </div>
    </div>
  </section>
</div>
<div id="thankyou-set-password" style="display:none;">
  <div class="thankyou-set-password">
    <h3>Get your 200 Sparkles points. Sign up now</h3>
    <a class="btn" id="drawer-set-password-form" href="/pages/set-password">Create Account</a>
  </div>
</div>
<script type="text/javascript">
  window.$ = Checkout.$;
  $(document).on('page:load page:change', function(){
    var pageUrl = window.location.href;

    $(document).on('click','.thankyou-set-password .btn',function(e){
      e.preventDefault();
      $('html').addClass('show-setPasswordForm');
    });
    $(document).on('click','.show-setPasswordForm .wrapper-overlay,#set-password-drawer_close',function(e){
      e.preventDefault();
      $('html').removeClass('show-setPasswordForm');
    });

    function ValidateSetPasswordForm(){
      var validation = true;
      var firstName = $('[name="customer[first_name]"]'),
          lastName = $('[name="customer[last_name]"]'),
          email = $('[name="customer[email]"]'),
          password = $('[name="customer[password]"]')



      $('#checkout_page-Set-Password input').removeClass('input--error');
      $('#checkout_page-Set-Password [data-form-error]').html('').hide();

      var emailPattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;


      if(firstName.val() == '') {
        firstName
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Please enter your first name')
        .show();
        validation = false;
      }

      if(lastName.val() == '') {
        lastName
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Please enter your last name')
        .show();
        validation = false;
      }

      if(email.val() == '') {
        email
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Please enter your email')
        .show();
        validation = false;
      }
      else if(!emailPattern.test(email.val())) {
        email
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Please enter a valid email address')
        .show();
        return false;
      }

      if(password.val() == '') {
        password
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Please enter your password')
        .show();
        validation = false;
      } 
      else if(password.val().length < 6) {
        password
        .addClass('input--error')
        .next('[data-form-error]')
        .html('Password must have more than 6 characters')
        .show();
        validation = false;
      } else{
        password
        .removeClass('input--error')
        .next('[data-form-error]')
        .html('')
        .hide();
      }

      return validation;
    }

    $(document).on('click','#checkout_page-Set-Password .btn', function(e) {
      if(ValidateSetPasswordForm() == false){
        e.preventDefault();
        console.log(123);
      }else{
        localStorage.setItem("hasCheckoutAccount", "rendering-account-from-checkout");
      }
      return ValidateSetPasswordForm();
    });
    if(pageUrl.indexOf('/orders/')>-1){
      var discountHtml = $("#thankyou-set-password").html();
      $('.order-summary__sections').append(discountHtml);
    }

  });
</script>
{% endif %}