{% assign pagination_type = section.settings.pagination_type %}
{% assign no_products_image = section.settings.no_products_image %}
{% assign empty_collection_text = section.settings.empty_collection_text %}
{% assign show_collection_title = section.settings.show_collection_title %}
{% assign enable_collection_sorting = section.settings.enable_collection_sorting %}
{% assign show_collection_breadcrumb = section.settings.show_collection_breadcrumb %}
{% assign show_collection_description = section.settings.show_collection_description %}

<!-- Metafield Collection banners -->
{% assign coll_desktop-banner-large = collection.metafields.new_coll_banner.desktop-banner-large %}
{% assign coll_desktop-banner-small = collection.metafields.new_coll_banner.desktop-banner-small %}

{% assign show_pagination = false %}
{% if pagination_type != 'infinite_scroll' %}
{% assign show_pagination = true %}
{% endif %}

<section data-section-id="{{ section.id }}" data-section-type="mm-collection-template" class="mm-collection all-product-{{collection.products_count}} page-width">
  {% include 'collection-header-banners' %}
  
  {% if show_collection_breadcrumb %}
  <div class="mm-collection-breadcrumb">
    {% include 'breadcrumbs' %}
  </div>
  {% endif %}
  
  <section class="mm_collection-bg">
    <div class="mm-sticky-block grid grid--uniform">
      <div class="grid__item medium-up--one-quarter medium-up--hide">
        <div class="mm-filter-sidebar mm-sticky-sidebar mobile-sidebar-filter">
          {% include 'mm-filter-sidebar' %}
        </div>
      </div>
      <div class="grid__item medium-up--one-whole">        
        <div class="mm-product-header">
          <div class="mm-filter-btn">
            <button class="mm-button" id="sidebar-filter-opener">{{ sidebar_filter_heading }}</button>
          </div>
          
          {% include 'desktop-filter' %}
          
          <p class="product-count"></p>
          <div class="right_filter">
            <div class="view_products small--hide">
              <div class="view_three_products plp-product-view active" data-count="3">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="13" viewBox="0 0 23 13">
                  <g id="_3_grid_view_icon" data-name="3 grid view icon" transform="translate(-0.001)">
                    <rect id="Rectangle_24704" data-name="Rectangle 24704" width="7" height="13" rx="2" transform="translate(0.001)" fill="#cdd5de"/>
                    <rect id="Rectangle_24705" data-name="Rectangle 24705" width="7" height="13" rx="2" transform="translate(8.001)" fill="#cdd5de"/>
                    <rect id="Rectangle_24707" data-name="Rectangle 24707" width="7" height="13" rx="2" transform="translate(16.001)" fill="#cdd5de"/>
                  </g>
                </svg>    
              </div>
              <div class="view_four_products plp-product-view" data-count="4">
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="13" viewBox="0 0 31 13">
                  <g id="_4_grid_view_icon" data-name="4 grid view icon" transform="translate(-0.001)">
                    <rect id="Rectangle_24704" data-name="Rectangle 24704" width="7" height="13" rx="2" transform="translate(0.001)" fill="#cdd5de"/>
                    <rect id="Rectangle_24705" data-name="Rectangle 24705" width="7" height="13" rx="2" transform="translate(8.001)" fill="#cdd5de"/>
                    <rect id="Rectangle_24706" data-name="Rectangle 24706" width="7" height="13" rx="2" transform="translate(24.001)" fill="#cdd5de"/>
                    <rect id="Rectangle_24707" data-name="Rectangle 24707" width="7" height="13" rx="2" transform="translate(16.001)" fill="#cdd5de"/>
                  </g>
                </svg>              
              </div>
            </div>
            {% if enable_collection_sorting %}
            <div class="mm-sort-content">
              <label class="sort_by small--hide">SORT BY</label>
              <select id="ajaxSort" class="sort-wrapper">
                {% if collection.handle == "diamond-jewelry-new-arrivals" %}
                <option value="created-descending">Date: New to Old</option>
                {% endif %}
                <option value="best-selling">Best Selling</option>
                <option value="price-ascending">Price: Low to High</option>
                <option value="price-descending">Price: High to Low</option>                
                <option value="title-ascending">Alphabetically: A-Z</option>
                <option value="title-descending">Alphabetically: Z-A</option>
                {% if collection.handle != "diamond-jewelry-new-arrivals" %}
                <option value="created-descending">Date: New to Old</option>
                {% endif %}
                <option value="created-ascending">Date: Old to New</option>
              </select>
            </div>
            {% endif %}
          </div>
        </div>
        
        <div class="small--one-whole medium-up--one-whole applied__filter_wrapper" style="display: none;">
          <div class="small--one-whole medium-up--one-whole" id="applied__filter">
            
          </div>
        </div>
        
        <div id="confirm-filter-clear" class="clearall-content mfp-hide">
          <h4>Clear All Filters</h4>
          <p>Are you sure you want to clear all filters?</p>
          <span class="reset-filter clear-all btn" onClick="closePopup();">Confirm</span>
        </div>
        <script>
          function closePopup() {
            $.magnificPopup.close();
          }
        </script>
        
        <div class="product-container">
          <div id="product-loop" class="row"></div>
          <div class="no-products" id="empty-products" style="display: none;">
            {% if no_products_image != nil %}
            <img class="lazyload" data-src="{{ no_products_image | img_url: '150x' }}" alt="Empty Collection Image" data-sizes="auto">
            {% endif %}
            {% if empty_collection_text != blank %}
            <p>{{ empty_collection_text }}</p>
            {% else %}
            <p>We are sorry, no products match your filter selections. Please adjust them further.</p>
            {% endif %}
          </div>
          
          <div class="mm-pagination" {% if show_pagination == false %}style="opacity: 0;"{% endif %}>
            <div id="mm-pagination-holder"></div>
          </div>
        </div>
        
        {% assign show_footer_content = collection.metafields.collection_footer.show_footer_content.value %}
        {% if show_footer_content == 'yes' %}
        <section class="jewelry-info-section section-spacing">
          {% assign footer_title = collection.metafields.collection_footer.footer_title.value %}
          {% assign footer_preview = collection.metafields.collection_footer.footer_preview.value %}
          {% assign footer_content = collection.metafields.collection_footer.footer_content.value %}
          
          <div class="page-width small--text-center">
            <div class="section-wrapper">
              <div class="content">
                {% if footer_title != blank %}
                <div class="section-header">
                  <h2 class="title">
                    {% include 'icon-sparkles' %}
                    {{ footer_title }}
                  </h2>
                </div>
                {% endif %}
                {% if footer_preview != blank %}
                <div class="text">{{ footer_preview }}</div>
                {% endif %}
                <a href="" class="btn-border btn-show-info">
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                  Read more
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                </a>
              </div>
              <div class="jewelry-info">
                <div class="info-wrapper">
                  {% if footer_content != blank %}
                  <div class="desc">{{ footer_content }}</div>
                  {% endif %}
                </div>
                <a href="" class="btn-border btn-hide-info hide">
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                  Read Less
                  <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
                </a>
              </div>
            </div>
          </div>
        </section>
        {% endif %}
      </div>
    </div>
  </section>
  
  {% if section.settings.sidebar_filter_heading %}
  {% assign sidebar_filter_heading = section.settings.sidebar_filter_heading %}
  {% else %}
  {% assign sidebar_filter_heading = 'Filter By' %}
  {% endif %}
  
</section>

{% comment %}
{% if collection.handle == 'disney-cruella-de-vil-diamond-jewelry' %}
{% include 'mm-filter-content-cruella' %} 
{% elsif collection.handle contains 'sparkles-diamond-jewelry-sale' %}
{% include 'mm-filter-content-sparkling' %}
{% elsif collection.handle contains 'the-enchanted-vault-deals' or collection.handle contains 'the-enchanted-vault-engagement-rings' %}
{% include 'mm-filter-content-vault' %} 
{% else %}
{% include 'mm-filter-content' %}
{% endif %}
{% endcomment %}

{% include 'mm-filter-content-chateau' %}

{% assign price_slider = section.settings.price_range_slider %}
{% if price_slider %}
<script defer="defer" src="{{ 'mm-slider.min.js' | asset_url }}"></script>
{% endif %}


{% schema %}
{
  "name": "Collection Page",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_collection_banner",
    "label": "Show collection Banner",
    "default": true
  },
  {
    "type": "header",
    "content": "Collections Page Banner"
  },
  {
    "type": "image_picker",
    "id": "desktop-banner-large",
    "label": "Desktop Banner Image (Large)"
  },
  {
    "type": "image_picker",
    "id": "desktop-banner-small",
    "label": "Desktop Banner Image (Small)"
  },
  {
    "type": "header",
    "content": "Heading and Description"
  },
  {
    "type": "checkbox",
    "id": "show_collection_title",
    "label": "Show collection title",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_collection_description",
    "label": "Show collection description",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_collection_breadcrumb",
    "label": "Show breadcrumb links",
    "default": true
  },
  {
    "type": "header",
    "content": "Product Layout"
  },
  {
    "type": "checkbox",
    "id": "show_product_vendor",
    "label": "Show Vendor",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_sale_badge",
    "label": "Show Sale Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "sale_badge_text",
    "label": "Sale Badge Text",
    "default": "Sale"
  },
  {
    "type": "checkbox",
    "id": "show_soldout_badge",
    "label": "Show Soldout Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "soldout_badge_text",
    "label": "Soldout Badge Text",
    "default": "Soldout"
  },
  {
    "type": "header",
    "content": "Empty Collection"
  },
  {
    "type": "image_picker",
    "id": "no_products_image",
    "label": "Empty Collection Image"
  },
  {
    "type": "textarea",
    "id": "empty_collection_text",
    "label": "Empty Collection Text",
    "default": "We are sorry, no products match your filter selections. Please adjust them further."
  },
  {
    "type": "header",
    "content": "Pagination"
  },
  {
    "type": "select",
    "id": "pagination_type",
    "label": "Pagination Type",
    "options": [
    {
      "value": "basic_pagination",
      "label": "Page Links"
    },
    {
      "value": "infinite_scroll",
      "label": "Infinite Scroll"
    }
    ]
  },
  {
    "type": "range",
    "id": "pagination_limit",
    "label": "Products per page",
    "min": 3,
    "max": 45,
    "step": 1,
    "default": 18
  },
  {
    "type": "header",
    "content": "Filter Sidebar"
  },	  
  {
    "type": "checkbox",
    "id": "show_filter_heading",
    "label": "Show Filter Heading",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_sticky_sidebar",
    "label": "Enable Sticky Sidebar",
    "default": false
  },
  {
    "type": "text",
    "id": "sidebar_filter_heading",
    "label": "Heading",
    "default": "Filter By"
  },
  {
    "type": "select",
    "id": "mobile_sidebar_style",
    "label": "Mobile Sidebar Style",
    "options": [
    {
      "value": "from_down",
      "label": "Open From Down"
    },
    {
      "value": "from_side",
      "label": "Open From Side"
    }
    ]
  },
  {
    "type": "header",
    "content": "Collection Sorting"
  },
  {
    "type": "checkbox",
    "id": "enable_collection_sorting",
    "label": "Enable Collection Sorting",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_product_count",
    "label": "Show product count",
    "default": true
  },
  {
    "type": "header",
    "content": "Brand Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter",
    "label": "Enable Brand Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for brand filter, which will help user to search brands.",
    "default": true
  },
  {
    "type": "text",
    "id": "brand_filter_heading",
    "label": "Heading",
    "default": "Brand"
  },
  {
    "type": "header",
    "content": "Product Type Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter",
    "label": "Enable Product Type Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for product type filter, which will help user to search product types.",
    "default": true
  },
  {
    "type": "text",
    "id": "pt_filter_heading",
    "label": "Heading",
    "default": "Product Type"
  },
  {
    "type": "header",
    "content": "Price Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_price_filter",
    "label": "Enable Price Filter",
    "default": true
  },
  {
    "type": "text",
    "id": "price_filter_heading",
    "label": "Heading",
    "default": "Price"
  },
  {
    "type": "textarea",
    "id": "price_ranges",
    "label": "Price Range",
    "default": "0-500,500-1000,1000-2000,2000-3000,3000-100000"
  },
  {
    "type": "checkbox",
    "id": "price_range_slider",
    "label": "Enable Price Slider",
    "default": false
  },
  {
    "type": "header",
    "content": "Size Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter",
    "label": "Enable Size Filter",
    "info": "Sizes will appear only when products has the size variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter_swatch",
    "label": "Enable Size Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "size_filter_heading",
    "label": "Heading",
    "default": "Size"
  },
  {
    "type": "header",
    "content": "Color Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter",
    "label": "Enable Color Filter",
    "info": "Colors will appear only when products has the color variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter_swatch",
    "label": "Enable Color Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "color_filter_heading",
    "label": "Heading",
    "default": "Color"
  },
  {
    "type": "header",
    "content": "Tag Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_tag_filter",
    "label": "Enable Tag Filter",
    "info": "Add tag filters in sidebar by adding content blocks.",
    "default": true
  },
  {
    "type": "header",
    "content": "Multi-level Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_multilevel_filter",
    "label": "Enable Multi Level Filter",
    "default": true
  },
  {
    "type": "paragraph",
    "content": "Add tag in to the products to activate multi level filters. Syntax: mf___First Level__Second Level--Tag"
  },
  {
    "type": "header",
    "content": "Left grid banner"
  },
  {
    "type": "image_picker",
    "id": "banner_desk",
    "label": "Desktop Banner"
  },
  {
    "type": "image_picker",
    "id": "banner_mobile",
    "label": "Mobile Banner"
  },
  {
    "type": "text",
    "id": "bannercategoryLeft",
    "label": "Intersperse left categroy"
  },
  {
    "type": "text",
    "id": "heading",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "button",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "buttonLink",
    "label": "Button link"
  },
  {
    "type": "header",
    "content": "Right grid banner"
  },
  {
    "type": "image_picker",
    "id": "banner_desk_right",
    "label": "Desktop Banner"
  },
  {
    "type": "image_picker",
    "id": "banner_mobile_right",
    "label": "Mobile Banner"
  },
  {
    "type": "text",
    "id": "bannercategoryRight",
    "label": "Intersperse Right categroy"
  },
  {
    "type": "text",
    "id": "heading_right",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "description_right",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "button_right",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "buttonLink_right",
    "label": "Button link"
  }
  ],
  "blocks": [
  {
    "type": "tag_filters",
    "name": "Tag Filter",
    "settings": [
    {
      "type": "text",
      "id": "filter_name",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "filter_tags",
      "label": "Tags",
      "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters."
    }
    ]
  }
  ]
}
{% endschema %}