{% include 'rewards-boutique-css' %}
<div class="account-page-rewards">
  <div class="page-width">
    <div class="account-header-title text-center">
      <h1>{{ 'customer.account.title' | t }}</h1>
      <a href="/account/logout" id="customer_logout_link" class="btn btn--small">Log out</a>
    </div>
  </div>
</div>
<div class="page-width">
  <div class="grid myaccount">
    <div class="grid__item myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>
      
      {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}
      
      <table class="responsive-table">
        <thead>
          <tr>
            <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
            <th scope="col">{{ 'customer.orders.date' | t }}</th>
            <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
            <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th scope="col">{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
          <tr>
            <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
              <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
            </th>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
            <td class="medium-up--hide text-center">
              <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">View order details</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% else %}
      
      <p>{{ 'customer.orders.none' | t }}</p>
      
      {% endif %}
      {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
      {%- endif -%}
      {% endpaginate %}
    </div>
    <div class="grid__item myaccount__account-details">
      <div class="account__address-details">
        <h2>{{ 'customer.account.details' | t }}</h2>

        {{ customer.default_address | format_address }}

        <p>
          <a href="{{ routes.account_addresses_url }}/" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        </p>
      </div>
      <div class="account__address-rewards">
        <h2>Rewards summary</h2>
        <p onload="StampedRewardsSummary.showRewradPoints();" class="rewards-points" data-target-id="label-balance-points">
          Reward Balance : <span></span>
        </p>
        <div class="btns-group">
          <a href="javascript:void(0);" onclick="StampedRewardsSummary.viewRedeem();" class="btn btn--small">
            Redeem Now
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 33 33"><defs><style>.rb-btn-arr-wa,.rb-btn-arr-wb{fill:#fff;}.rb-btn-arr-wa{opacity:0;}</style></defs><g transform="translate(0 -0.205)"><rect class="rb-btn-arr-wa" width="33" height="33" transform="translate(0 0.205)"/><g transform="translate(2.327 1.368)"><path class="rb-btn-arr-wb" d="M23.239-56.062a14.6,14.6,0,0,0,14.5-14.5,14.618,14.618,0,0,0-14.513-14.5A14.6,14.6,0,0,0,8.74-70.56,14.606,14.606,0,0,0,23.239-56.062Zm0-2.416A12.024,12.024,0,0,1,11.171-70.56,12.021,12.021,0,0,1,23.224-82.642a12.066,12.066,0,0,1,12.1,12.082A12.027,12.027,0,0,1,23.239-58.478Zm7.334-12.1a1.127,1.127,0,0,0-.412-.824l-4.8-4.819a1.019,1.019,0,0,0-.739-.284,1,1,0,0,0-1.023,1.023,1.049,1.049,0,0,0,.313.753L25.7-72.962,27.4-71.527l-3-.114h-7.42a1.027,1.027,0,0,0-1.052,1.066,1.027,1.027,0,0,0,1.052,1.066H24.4l3.013-.114-1.72,1.45-1.791,1.748a1.05,1.05,0,0,0-.313.768,1.022,1.022,0,0,0,1.023,1.038,1.029,1.029,0,0,0,.739-.3l4.8-4.819A1.135,1.135,0,0,0,30.573-70.575Z" transform="translate(-8.74 85.059)"/></g></g></svg>
          </a>
          <a href="javascript:void(0);" onclick="StampedRewardsSummary.viewHistory();" class="btn btn--small">
            Unused Rewards
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 33 33"><defs><style>.rb-btn-arr-wa,.rb-btn-arr-wb{fill:#fff;}.rb-btn-arr-wa{opacity:0;}</style></defs><g transform="translate(0 -0.205)"><rect class="rb-btn-arr-wa" width="33" height="33" transform="translate(0 0.205)"/><g transform="translate(2.327 1.368)"><path class="rb-btn-arr-wb" d="M23.239-56.062a14.6,14.6,0,0,0,14.5-14.5,14.618,14.618,0,0,0-14.513-14.5A14.6,14.6,0,0,0,8.74-70.56,14.606,14.606,0,0,0,23.239-56.062Zm0-2.416A12.024,12.024,0,0,1,11.171-70.56,12.021,12.021,0,0,1,23.224-82.642a12.066,12.066,0,0,1,12.1,12.082A12.027,12.027,0,0,1,23.239-58.478Zm7.334-12.1a1.127,1.127,0,0,0-.412-.824l-4.8-4.819a1.019,1.019,0,0,0-.739-.284,1,1,0,0,0-1.023,1.023,1.049,1.049,0,0,0,.313.753L25.7-72.962,27.4-71.527l-3-.114h-7.42a1.027,1.027,0,0,0-1.052,1.066,1.027,1.027,0,0,0,1.052,1.066H24.4l3.013-.114-1.72,1.45-1.791,1.748a1.05,1.05,0,0,0-.313.768,1.022,1.022,0,0,0,1.023,1.038,1.029,1.029,0,0,0,.739-.3l4.8-4.819A1.135,1.135,0,0,0,30.573-70.575Z" transform="translate(-8.74 85.059)"/></g></g></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function init() {
    setTimeout(function(){
      var dataPoint = StampedFn.getDataRewards();
      console.log(dataPoint.points.points_current_with_name.toLocaleString());
      $('[data-target-id="label-balance-points"] span').text(dataPoint.points.points_current_with_name.toLocaleString());
    },2000);
  }

  window.onload = init;


</script>
<script>
  var StampedRewardsSummary = (function (window, document) {

    function viewRedeem() {
      console.log(StampedFn.getDataRewards());
      StampedFn.toggleRewardsModal(true);
      StampedFn.loadLauncherView('view-spendings', this);
    }

    function viewHistory() {
      StampedFn.toggleRewardsModal(true);
      StampedFn.loadLauncherView('view-your-rewards', this)
    }

    return {
      viewRedeem: viewRedeem,
      viewHistory: viewHistory
    }

  }(window, document));
</script>

<style>
  .breadcrumb-container{display:none;}
  .account-header-title {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px;
  }
  .account-header-title h1{
    margin-bottom:0;
  }
  .account-page-rewards .page-rewards-boutique{
    padding-top: 30px;
  }
  .account__address-rewards {
    margin-top: 50px;
    margin-bottom:30px;
  }
  .rewards-points{
    color:#11214a; 
  }
  .rewards-points span{
    font-size:18px;
    color: #DE7C44;
  }
  .btns-group .btn:first-child{
  	margin-bottom: 10px;
  }
  .btns-group .btn--small {
    padding: 8px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
  }
  .btns-group .btn--small svg{
  	margin-left:10px;
  }
  @media screen and (max-width: 749px){
    .account-page-rewards .page-rewards-boutique{
      padding: 30px 0 50px;
    }
  }
</style>
