<section class="innerpage__banner" data-section-type="bridal__page" data-section-id="{{ section.id }}" style="padding-top: 0;">
  {% assign page-bg = section.settings.page-bg %}
  {% assign banner = section.settings.page-banner %}
  {% assign heading = section.settings.heading %}
  {% assign sub-heading = section.settings.sub-heading %}
  {% assign paragraph = section.settings.paragraph %}
  
  {% if banner != nil %}
  <div class="banner_container">
    <img src="{{ banner | img_url: 'master' }}" alt="Enchanted Disney" />
    <div class="banner_text">
      {% if heading != blank %}
      <h2>{{ heading }}</h2>
      {% endif %}
      {% if sub-heading != blank %}
      <h5>{{ sub-heading }}</h5>
      {% endif %}
      {% if paragraph != blank %}
      <p>{{ paragraph }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Content Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "page-banner",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
