<section class="sticky__header" data-section-type="sticky__header" data-section-id="{{ section.id }}">  
  <header class="header__container">
    {% if section.settings.logo %}
    {% assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <a href="{{ routes.root_url }}" id="logo">
      {% comment %}
      {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      <img class="lazyload js"
           src="{{ section.settings.logo | img_url: '300x300' }}"
           data-src="{{ img_url }}"
           data-widths="[]"
           data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ logo_alt | escape }}"
           style="max-width: {{ section.settings.logo_max_width }}px">
      <noscript>
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             style="max-width: {{ section.settings.logo_max_width }}px;">
      </noscript>
      {% endcomment %}
      <img class="lazyload js"
           src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Enchanted_Logo.svg?33497"
           data-src="{{ img_url }}"
           data-widths="[]"
           data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ logo_alt | escape }}"
           style="max-width: {{ section.settings.logo_max_width }}px">
    </a>
    {% else %}
    <a href="{{ routes.root_url }}">{{ shop.name }}</a>
    {% endif %}
    
    {% assign menu = linklists[section.settings.main_linklist] %}
    {% assign mobile-menu = linklists[section.settings.mob_linklist] %}
    {% assign header-right-menu = linklists[section.settings.header-right_linklist] %}
    <nav class="nav__bar">
      <button type="button" class="mob__menu"><img src="{{ 'Hamburger_Menu.svg' | asset_url }}" alt="Enchanted Disney" /></button>
      
      <ul class="desktop__menu">
        {% for link in menu.links %}
        {% assign dataMenu = link.title | handleize  %}
        
        <li class="{% if link.current %}active{% endif %}">
          <a href="{{ link.url }}" data-menu="{{ dataMenu }}">{{ link.title }}</a>
                    
          {% for block in section.blocks %}
          {% assign megaMenu = block.settings.megamenu-title | handleize  %}
          {% assign megaMenu_one = linklists[block.settings.megamenu-one] %}
          {% assign megaMenu_two = linklists[block.settings.megamenu-two] %}
          
          {% if dataMenu == megaMenu %}
          
          <div class="desktop__megamenu" data-megamenu="{{ megaMenu }}">
            <div class="desktop__megamenu--inner">
              <h4>{{ megaMenu_one.title }}</h4>
              <ul>
                {% for link in megaMenu_one.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="desktop__megamenu--inner">
              <h4>{{ megaMenu_two.title }}</h4>
              <ul>
                {% for link in megaMenu_two.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
      		  </ul>
            </div>
          </div>
          
          {% endif %}
          
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </nav>
    <aside class="header__right">
      <a class="medium-up--hide" href="/pages/video-consultation" style="display:flex;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 60 60">
          <defs></defs>
          <g transform="translate(-1022 -652)">
            <rect class="a" width="60" height="60" transform="translate(1022 652)"></rect>
            <g transform="translate(947 460.473)"><g transform="translate(82 203.527)">
              <path class="b" d="M17.425-52.344H29.542l-.523,3.561H26.367a1.656,1.656,0,0,0-1.645,1.645,1.673,1.673,0,0,0,1.645,1.665h18.31a1.673,1.673,0,0,0,1.645-1.665,1.656,1.656,0,0,0-1.645-1.645H42.025L41.5-52.344H53.619c3.309,0,4.974-1.587,4.974-4.974V-79.5c0-3.387-1.664-4.974-4.974-4.974H17.425c-3.31,0-4.974,1.587-4.974,4.974v22.181C12.451-53.931,14.116-52.344,17.425-52.344ZM16.4-60.86c-.581,0-.832-.232-.832-.832V-79.44c0-1.374.581-1.916,1.916-1.916H53.561c1.316,0,1.916.542,1.916,1.916v17.748c0,.6-.271.832-.851.832Zm19.123,6.6a1.809,1.809,0,0,1-1.8-1.8,1.818,1.818,0,0,1,1.8-1.781A1.814,1.814,0,0,1,37.3-56.06,1.805,1.805,0,0,1,35.522-54.26Z" transform="translate(-12.451 84.473)"></path></g>
              <g transform="translate(101.123 211.43)">
                <path class="b" d="M13.2-65.93a1.413,1.413,0,0,0,.713-.244L21.2-70.388c.519-.306.7-.506.7-.838s-.181-.531-.7-.831l-7.289-4.22a1.4,1.4,0,0,0-.713-.238c-.463,0-.75.35-.75.894v8.789C12.451-66.287,12.739-65.93,13.2-65.93Z" transform="translate(-12.451 76.514)">
                </path>
              </g>
            </g>
          </g>
        </svg>
        <style>
          .header__right a svg .b {
            fill: #fff;
          }
          .header__right a svg .a {
            fill: transparent;
          }
        </style>
      </a>
      <a href="#" class="search mm-search--open">
      	<img src="{{ 'Search_Button.svg' | asset_url }}" alt="Enchanted Disney" />
      </a>
      <a href="/cart" class="cart">
        <img src="{{ 'Bag.svg' | asset_url }}" alt="Enchanted Disney" />
        <span class="mobile-count" data-cart-count>{{ cart.item_count }}</span>
      </a>
      <ul class="page_menu">
        {% for link in header-right-menu.links %}        
          <li><a href="/pages/video-consultation">Video Consultation</a></li>
        {% endfor %}        
      </ul>
      <ul class="shopify_menu">
        <li>          
          <a href="#swym-wishlist" class="swym-wishlist wishlist-icon">
            <img src="{{ 'Wishlist_Icon_-_Header.svg' | asset_url }}" alt="Enchanted Disney" />
            <span>Wishlist</span>
          </a>          
        </li>
        <li><a href="/account"><img src="{{ 'Account_Icon_-_Header.svg' | asset_url }}" alt="Enchanted Disney" /><span>My Account</span></a></li>
        <li class="cart"><a href="/cart"><img src="{{ 'Bag_Icon_-_Header.svg' | asset_url }}" alt="Enchanted Disney" /><span>Bag &bull;&nbsp;<em data-cart-count>{{ cart.item_count }}</em> item{% if cart.item_count > 1 %}s{% endif %}</span></a></li>
      </ul>
    </aside>
    
    <div class="mm-search-dropdown">
      {% include 'search-form' %}
    </div>
  </header>
</section>
{% if customer %}
{% assign firstName = customer.first_name %}
{% assign lastName = customer.last_name %}
<div class="mobile__menu">
  <a href="javascript:void(0);" class="profile" id="loged-in">
    <span class="profile_pic">{{ firstName | slice: 0 | upcase }}</span>
    <span class="profile_text">{{ firstName }} {{ lastName }} ></span>
  </a>
  <div class="mob_search">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search">
      <div aria-live="polite" class="form-message form-message--error search-result-error-message hide" data-search-error-message>
        <ul id="error-search-form">
          <li>{{ 'general.search.empty_search_message' | t }}</li>
        </ul>
      </div>

      <div class="input-group">
        <input type="search"
               id="SearchInput"
               class="input-group__field search__input"
               name="q"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}"
               aria-label="{{ 'general.search.placeholder' | t }}"
               >
        <span class="input-group__btn">
          <button id="SearchResultSubmit" class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
        </span>
      </div>
    </form>
  </div>
  <ul>
    {% for link in mobile-menu.links %}
    {% assign dataMenu = link.title | handleize  %}

    <li class="{% if link.current %}active{% endif %}">
      <a href="{{ link.url }}" data-menu="{{ dataMenu }}">{{ link.title }}</a>
    </li>
    {% for block in section.blocks %}
    {% assign dataSubmenu = block.settings.mobmenu-title | handleize  %}
    {% assign megaMenu_one = linklists[block.settings.megamenu-one] %}
    {% assign megaMenu_two = linklists[block.settings.megamenu-two] %}
    {% if dataMenu == dataSubmenu %}
    <li class="mobile__submenu" data-megamenu="{{ dataSubmenu }}">
      <h4>{{ megaMenu_one.title }}</h4>
      <ul>
        {% for link in megaMenu_one.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <h4>{{ megaMenu_two.title }}</h4>
      <ul>
        {% for link in megaMenu_two.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>
<div class="account__menu">
  <span class="back-to-mainmenu">&lt; GO BACK</span>
  <a href="javascript:void(0);" class="profile" id="loged-in">
    <span class="profile_pic">{{ firstName | slice: 0 | upcase }}</span>
    <span class="profile_text">{{ firstName }} {{ lastName }}</span>
  </a>
  <ul>
    <li><a href="/account">MY PROFILE</a></li>
    <li><a href="javascript:void(0);">MY WISHLIST</a></li>
    <li><a href="/account/addresses">MY SAVED ADDRESSES</a></li>
    <li><a href="/account">MY ORDERS</a></li>
  </ul>
  <div class="account_logout">
  {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>
</div>
{% else %}
<div class="mobile__menu">
  <div class="profile">
    <span class="profile_pic"><img src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Default_Profile_Icon.png?v=1580212246" alt="Profile Image"/></span>
    <span class="profile_text"><a href="/account/login">Sign In</a> / <a href="/account/register">Sign Up</a></span>
  </div>
  <div class="mob_search">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search">
      <div aria-live="polite" class="form-message form-message--error search-result-error-message hide" data-search-error-message>
        <ul id="error-search-form">
          <li>{{ 'general.search.empty_search_message' | t }}</li>
        </ul>
      </div>

      <div class="input-group">
        <input type="search"
               id="SearchInput"
               class="input-group__field search__input"
               name="q"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}"
               aria-label="{{ 'general.search.placeholder' | t }}"
               >
        <span class="input-group__btn">
          <button id="SearchResultSubmit" class="search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
        </span>
      </div>
    </form>
  </div>
  <ul>
    {% for link in mobile-menu.links %}
    {% assign dataMenu = link.title | handleize  %}

    <li class="{% if link.current %}active{% endif %}">
      <a href="{{ link.url }}" data-menu="{{ dataMenu }}">{{ link.title }}</a>
    </li>
    {% for block in section.blocks %}
    {% assign dataSubmenu = block.settings.mobmenu-title | handleize  %}
    {% assign megaMenu_one = linklists[block.settings.megamenu-one] %}
    {% assign megaMenu_two = linklists[block.settings.megamenu-two] %}
    {% if dataMenu == dataSubmenu %}
    <li class="mobile__submenu" data-megamenu="{{ dataSubmenu }}">
      <h4>{{ megaMenu_one.title }}</h4>
      <ul>
        {% for link in megaMenu_one.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <h4>{{ megaMenu_two.title }}</h4>
      <ul>
        {% for link in megaMenu_two.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="dark_overlay"></div>


{% schema %}
{
  "name": "Custom Header",
  "settings": [
	{
      "type": "header",
      "content": "Logo Settings"
	},
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "header",
      "content": "Menu Settings"
    },
	{
      "type": "link_list",
      "id": "main_linklist",
      "label": "Desktop Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mob_linklist",
      "label": "Mobile Menu",
      "default": "main-menu"
    },
	{
      "type": "link_list",
      "id": "header-right_linklist",
      "label": "Menu"
    }    
  ],
  "blocks": [
    {
      "type": "header",
      "name": "Mega Menu Settings",
      "settings": [
        {
          "type": "text",
          "id": "megamenu-title",
          "label": "Mega Menu Title"
        },
		{
          "type": "text",
          "id": "mobmenu-title",
          "label": "Mobile Menu Title"
        },
        {
          "type": "link_list",
          "id": "megamenu-one",
          "label": "Select Menu"
        },
        {
          "type": "link_list",
          "id": "megamenu-two",
          "label": "Select Menu"
        }
      ]
    }
  ]
}
{% endschema %}