<section class="page__content shell__bg" data-section-type="inspirations__page" data-section-id="{{ section.id }}">
  {% assign bg-img = section.settings.bg-img %}
  {% assign content-img = section.settings.content-img %}
  {% assign content-img-before = section.settings.content-img-before %}
  {% assign heading = section.settings.heading %}
  {% assign sub-heading = section.settings.sub-heading %}
  {% assign paragraph = section.settings.paragraph %}
  {% assign button-label = section.settings.button-label %}
  {% assign button-url = section.settings.button-url %}
  
  <div class="ed--wrapper">
  	<div class="flex_container disney_princess">
      {% if content-img != nil %}
      <div class="disney_princess-img with_shadow">
      	<img src="{{ content-img | img_url: 'master' }}" alt="Enchanted Disney" />
      </div>
      {% endif %}
      <div class="disney_princess-content vertical_centered">
        {% if heading != blank %}
        <h2>{{ heading }}</h2>
        {% endif %}
        {% if sub-heading != blank %}
        <h5>{{ sub-heading }}</h5>
        {% endif %}
        {% if paragraph != blank %}
        <p>{{ paragraph }}</p>
        {% endif %}
        {% if button-label != blank %}
        <a href="{% if button-url != blank %}{{ button-url }}{% endif %}" class="btn">
          {{ button-label }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  {% if bg-img != nil %}
  .shell__bg {
    background-image: url('{{ bg-img | img_url: 'master' }}');
  }
  {% endif %}
  {% if content-img-before != nil %}
  .disney_princess-img:before {
    width: 111px;
    height: 94px;
    content: "";
    position: absolute;
    right: -50px;
    top: -30px;
    background-image: url('{{ content-img-before | img_url: 'master' }}');
  }
  @media (max-width: 768px) {
    .disney_princess-img:before {
      left: -35px;
      top: -50px;
      right: auto;
      transform: rotate(190deg);
    }
  }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Content Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "content-img",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "content-img-before",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "text",
        "id": "button-label",
        "label": "Button Text",
        "default": "SHOP NOW"
      },
      {
		"type": "url",
		"id": "button-url",
		"label": "Button URL"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
