<div class="mm-filter-content sidebar-filter small--hide mm-filter desktop-filter">
  <label>Filter by</label>
  <div class="mm-filter-wrapper">
    {% if enable_tag_filter %}
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
    {% if block.type == 'tag_filters' %}
    {% assign filter_name = block.settings.filter_name %}
    {% assign filter_tags = block.settings.filter_tags | split: ',' | uniq %} 
    <div class="filter-option filter-option-tag mm-filter-nav">          
      <div class="and filter-list" data-tag="Tag">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">{{ filter_name }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>
        <ul class="filter-content">
          {% for tag in filter_tags %}
          {% for collection_tags in collection.all_tags %}                 
          {% assign collection_formatted_tags = collection_tags | strip %}
          {% assign filter_formatted_tags = tag | strip %}
          {% if filter_formatted_tags == collection_formatted_tags %}
          <li class="or filter-item" data-tag="{{ filter_formatted_tags }}">                     
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">{{ filter_formatted_tags }}</span> 
          </li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if enable_multilevel_filter %}
    {% assign multiLevelFilters = '' %}
    {% for tag in collection.all_tags %}
    {% if tag contains 'mf___' %}
    {% assign mlf = tag | split: '___' | last %}
    {% assign multiLevelFilters = multiLevelFilters | append: mlf | append: ',' %}
    {% endif %}
    {% endfor %}
    {% assign multiLevelFilters = multiLevelFilters | split: ',' | uniq %}

    {% assign levelOne = '' %}
    {% for ml in multiLevelFilters %}
    {% assign lo = ml | split: '__' | first %}
    {% assign levelOne = levelOne | append: lo | append: ',' %}
    {% endfor %}
    {% assign levelOne = levelOne | split: ',' | uniq %}

    {% for lOne in levelOne %}
    <div class="filter-list filter-option filter-option-tag mm-filter-nav">          
      <div class="and filter-list-lone" data-tag="Tag-{{ forloop.index }}">
        <div class="filter-option-heading-lone">
          <h4>
            <span class="heading-text">{{ lOne }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>

        {% assign getLones = '' %}
        {% for tag in collection.all_tags %}
        {% if tag contains 'mf___' %}
        {% assign getLone = tag | split: '___' | last %}   
        {% assign getLones = getLones | append: getLone | append: ',' %}
        {% endif %}
        {% endfor %}
        {% assign getLones = getLones | split: ',' | uniq %}

        {% assign levelTwo = '' %}
        {% for glo in getLones %}
        {% assign gl = glo | split: '__' | first %}
        {% if gl == lOne %}
        {% assign getLtwo = glo | split: '__' | last %}
        {% assign levelTwo = levelTwo | append: getLtwo | append: ',' %}
        {% endif %}
        {% endfor %}
        {% assign levelTwo = levelTwo | split: ',' | uniq %}

        {% assign levelThree = '' %}
        {% for glt in levelTwo %} 
        {% assign getLtwoName = glt | split: '--' | first %}
        {% for tag in collection.all_tags %}
        {% if tag contains 'mf___' %}
        {% assign t = tag | split: '___' | last | split: '__' | last | split: '--' | first %}
        {% if t == getLtwoName %}
        {% assign levelThree = levelThree | append: t | append: ',' %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% assign levelThree = levelThree | split: ',' | uniq %}

        {% for lt in levelThree %}
        <ul class="filter-content-ltwo">        
          <div class="filter-option-heading-ltwo">
            <h4>
              <span class="heading-text">{{ lt }}</span> 
              <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
            </h4>
          </div>
          <div class="filter-content-lthree">
            {% for tag in collection.all_tags %}
            {% if tag contains 'mf___' %}
            {% assign getLthree = tag | split: '___' | last | split: '__' | last | split: '--' | first %}
            {% if lt == getLthree %} 
            {% assign multi_filter_text = tag | split: '___' | last | split: '__' | last | split: '--' | last %}
            <li class="or filter-item" data-tag="{{ tag }}">                                
              <span class="filter-item-checkbox"></span>
              <span class="filter-item-name">{{ multi_filter_text }}</span> 
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </ul>
        {% endfor %}        
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if pt_filter %}
    <div class="filter-option filter-option-pt mm-filter-nav">          
      <div class="and filter-list" data-tag="ProductType">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">{{ pt_heading }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>       
        </div>
        {% if pt_filter_search %}
        <div class="search-box pt-search-box">
          <input type="text" class="filter-search-box" placeholder="Search {{ pt_heading }}">
          {% include 'mm-search-icon' %}
        </div>
        {% endif %} 
        <ul class="filter-content">
          {% for pt in pts %}
          {% if pt contains 'cpb_' %}
          {% else %}
          <li class="or filter-item" data-tag="{{ pt }}">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">{{ pt | capitalize }}</span>
          </li>
          {% endif %}
          {% endfor %}               
        </ul>
      </div>
    </div>
    {% endif %}

    {% if price_filter %}
    <div class="filter-option filter-option-pt filter-option-price testing mm-filter-nav">          
      <div class="and filter-list" data-tag="Price">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">{{ price_heading }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>
        {% if price_slider %}
        {% assign chandle = collection.handle %}
        {% assign sortPrice = collections[chandle].products | sort: 'price' %}
        {% assign minPrice = sortPrice[0].price_min | plus: 0 %}
        {% assign maxPrice = sortPrice[-1].price_max | plus: 0 %}
        <div class="filter-content">
          <div class="price-inputs">
            <input type="text" id="minPriceInput" value="{{ minPrice | append: '00' | money }}" />
            <span>-</span>
            <input type="text" id="maxPriceInput" value="{{ maxPrice | append: '00' | money }}" />
          </div>
          <div class="or filter-item price-values" data-tag="{{ minPrice }}-{{ maxPrice }}"></div>

          <div class="price-slider"></div>
        </div>
        {% else %}
        <ul class="filter-content">

          {% assign sortprice = '' %}
          {% paginate collection.products by 1000 %}
          {% for product in collection.products %}
          {% assign sortprice = sortprice | append: product.price_min | append: ',' %}
          {% endfor %}

          {% assign sortprice = sortprice | split: ',' | uniq %}

          {% for pr in prs %}
          {% assign lpr = pr | split: '-' | first | append: '00' | plus:0 %}
          {% assign hpr = pr | split: '-' | last | append: '00' | plus:0 %}

          {% assign lprN = pr | split: '-' | first | append: '00' | plus:0 %}
          {% assign hprN = pr | split: '-' | last | append: '00' | plus:0 %}

          {% assign lpr = lpr | money_without_trailing_zeros %}
          {% assign hpr = hpr | money_without_trailing_zeros %}

          {% for price in sortprice %}
          {% assign priceNew = price | plus:0 %}
          {% if priceNew > lprN and priceNew < hprN %}
          <li class="or filter-item" data-tag="{{ pr }}">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">{{ lpr }} - {{ hpr }}</span>            
          </li>
          {% break %}
          {% endif %}
          {% endfor %}
          {% endfor %} 
          {% endpaginate %}

        </ul>
        {% endif %}      
      </div>
    </div>
    {% endif %}
    
    {% if brand_filter %}
    <div class="filter-option filter-option-brand mm-filter-nav">          
      <li class="and filter-list" data-tag="Brand">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">SHOP BY COLLECTION</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>
        {% if brand_filter_search %}
        <div class="search-box brand-search-box">
          <input type="text" class="filter-search-box" placeholder="Search {{ brand_heading }}">
          {% include 'mm-search-icon' %}
        </div>
        {% endif %} 
        <ul class="filter-content">
          {% comment %}
          {% for brand in brands %}
          <li class="or filter-item" data-tag="{{ brand }}">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">{{ brand | capitalize }}</span>
          </li>
          {% endfor %} 
          {% endcomment %}
          {% if brands contains 'Anna' %}
          <li class="or filter-item" data-tag="Anna">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Anna</span>
          </li>
          {% endif %}
          {% if brands contains 'Ariel' %}
          <li class="or filter-item" data-tag="Ariel">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Ariel</span>
          </li>
          {% endif %}
          {% if brands contains 'Aurora' %}
          <li class="or filter-item" data-tag="Aurora">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Aurora</span>
          </li>
          {% endif %}
          {% if brands contains 'Belle' %}
          <li class="or filter-item" data-tag="Belle">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Belle</span>
          </li>
          {% endif %}
          {% if brands contains 'Cinderella' %}
          <li class="or filter-item" data-tag="Cinderella">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Cinderella</span>
          </li>
          {% endif %}
          {% if brands contains 'Dr. Facilier' %}
          <li class="or filter-item" data-tag="Dr. Facilier">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Dr. Facilier</span>
          </li>
          {% endif %}
          {% if brands contains 'Elsa' %}
          <li class="or filter-item" data-tag="Elsa">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Elsa</span>
          </li>
          {% endif %}
          {% if brands contains 'Evil Queen' %}
          <li class="or filter-item" data-tag="Evil Queen">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Evil Queen</span>
          </li>
          {% endif %}
          {% if brands contains 'Jafar' %}
          <li class="or filter-item" data-tag="Jafar">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Jafar</span>
          </li>
          {% endif %}
          {% if brands contains 'Jasmine' %}
          <li class="or filter-item" data-tag="Jasmine">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Jasmine</span>
          </li>
          {% endif %}
          {% if brands contains 'Majestic Princess' %}
          <li class="or filter-item" data-tag="Majestic Princess">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Majestic Princess</span>
          </li>
          {% endif %}
          {% if brands contains 'Maleficent' %}
          <li class="or filter-item" data-tag="Maleficent">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Maleficent</span>
          </li>
          {% endif %}
          {% if brands contains 'Merida' %}
          <li class="or filter-item" data-tag="Merida">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Merida</span>
          </li>
          {% endif %}
          {% if brands contains 'Moana' %}
          <li class="or filter-item" data-tag="Moana">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Moana</span>
          </li>
          {% endif %}{% if brands contains 'Mulan' %}
          <li class="or filter-item" data-tag="Mulan">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Mulan</span>
          </li>
          {% endif %}
          {% if brands contains 'Pocahontas' %}
          <li class="or filter-item" data-tag="Pocahontas">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Pocahontas</span>
          </li>
          {% endif %}
          {% if brands contains 'Rapunzel' %}
          <li class="or filter-item" data-tag="Rapunzel">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Rapunzel</span>
          </li>
          {% endif %}
          {% if brands contains 'Snow White' %}
          <li class="or filter-item" data-tag="Snow White">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Snow White</span>
          </li>
          {% endif %}
          {% if brands contains 'Tiana' %}
          <li class="or filter-item" data-tag="Tiana">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Tiana</span>
          </li>
          {% endif %}
          {% if brands contains 'Tinker Bell' %}
          <li class="or filter-item" data-tag="Tinker Bell">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Tinker Bell</span>
          </li>
          {% endif %}
          {% if brands contains 'Ursula' %}
          <li class="or filter-item" data-tag="Ursula">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Ursula</span>
          </li>
          {% endif %}
          {% if brands contains 'Stepsisters' %}
          <li class="or filter-item" data-tag="Stepsisters">
            <span class="filter-item-checkbox"></span>
            <span class="filter-item-name">Stepsisters</span>
          </li>
          {% endif %}
        </ul>
      </li>
    </div>
    {% endif %}

    {% if enable_size_filter and size_filter %}
    <div class="filter-option filter-option-size mm-filter-nav">          
      <div class="and filter-list" data-tag="Size">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">{{ size_heading }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>
        <ul class="filter-content">
          {% for size in sizes %}
          <li class="or filter-item {% if size_swatch %}size-swatch-enabled{% endif %}" data-tag="{{ size | replace: ' ','' }}">          
            {% unless size_swatch %}
            <span class="filter-item-checkbox"></span>
            {% endunless %}
            <span class="filter-item-name">{{ size }}</span>    
          </li>
          {% endfor %}        
        </ul>
      </div>
    </div>
    {% endif %}

    {% if enable_color_filter and color_filter %}
    <div class="filter-option filter-option-color mm-filter-nav">          
      <div class="and filter-list" data-tag="Color">
        <div class="filter-option-heading">
          <h4>
            <span class="heading-text">{{ color_heading }}</span>
            <span class="toggle-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><defs><style>.dropdown-arrow-a{fill:#fff;opacity:0;}</style></defs><g transform="translate(-170 -702)"><rect class="dropdown-arrow-a" width="12" height="10" transform="translate(170 702)"/><path d="M.425,8.934a.424.424,0,0,0,.3-.124L4.768,4.768a.426.426,0,0,0,0-.6L.727.125a.426.426,0,1,0-.6.6L3.864,4.467.125,8.207a.426.426,0,0,0,0,.6A.422.422,0,0,0,.425,8.934Z" transform="translate(180.344 704.641) rotate(90)"/></g></svg></span>
          </h4>
        </div>
        <ul class="filter-content">
          {% for color in colors %}
          <li class="or filter-item {% if color_swatch %}color-swatch-enabled{% endif %}" data-tag="{{ color }}" title="{{ color }}">          
            {% if color_swatch %}
            <span class="filter-item-swatch color"
                  style="background: {{ color | replace: ' ','' | downcase }}"
                  title="{{ color }}">
            </span>
            {% else %}
            <span class="filter-item-checkbox color">
              <span style="background: {{ color | replace: ' ','' | downcase }}"></span>
            </span>
            <span class="filter-item-name">{{ color }}</span> 
            {% endif %}
          </li>
          {% endfor %}        
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>