{% if section.settings.enable_section %}
<!-- sections/featured-collection.liquid -->
<div class="section-spacing">
  <div class="page-width page-width-pd-0">
    {%- assign collection = collections[section.settings.collection] -%}
    <div class="grid">
      <div class="grid__item medium-up--one-quarter">
        <div class="content small--text-center">
          {% include 'section-header' %}
          {% if section.settings.text != blank %}
          <div class="text">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.button_text and section.settings.button_url != blank %}
          <a href="{{ section.settings.button_url }}/" class="btn-arrow">
            {{ section.settings.button_text }}{% include 'icon-btn-arrow' %}
          </a>
          {% endif %}
        </div>
      </div>
      <div class="grid__item medium-up--three-quarters">
        {% case section.settings.grid %}
        {% when 2 %}
        {%- assign max_height = 530 -%}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 3 %}
        {%- assign max_height = 345 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
        {% when 4 %}
        {%- assign max_height = 250 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
        {% when 5 %}
        {%- assign max_height = 195 -%}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
        {% endcase %}

        {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
        <div class="swiper-container swiper-product-container product-grid-slider">
          <div class="swiper-wrapper grid grid--no-gutters grid--uniform">
            {% for product in collection.products limit: product_limit %}
            {% if product.available %}
            <div class=" swiper-slide grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <!-- Add Scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
  
{% schema %}
  {
    "name": "Featured collection",
    "class": "featured-collection-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable section",
        "default": true
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
	  {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle",
        "default": "Subtitle"
      },
	  {
        "type": "richtext",
        "id": "text",
        "label": "Text",
		"default": "<p>Add text to give information about your chosen collection.</p>"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text",
		"default": "Shop all"
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button url"
      }
    ]
  }
{% endschema %}
