{% if section.settings.show_announcement %}
<style>
  .announcement-bar {
    background-color: {{ section.settings.color_bg }};
  }
  .announcement-bar__message {
    color: {{ section.settings.color_text }};
  }
</style>

<div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
  <div class="page-width">
    <div class="announcement-text-wrapper">
      {% for block in section.blocks %}
      <div class="announcement-text">
        {%- unless block.settings.link == blank -%}
        <a href="{{ block.settings.link }}" class="announcement-bar__link">
          {%- endunless -%}
          <div class="announcement-bar__message-wrapper">
            <div class="svg-wrapper">
              {{ block.settings.svg }}
            </div>
            <p class="announcement-bar__message">{{ block.settings.text }}</p>
          </div>
          {%- unless block.settings.link == blank -%}
        </a>
        {%- endunless -%}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
		{
          "type": "header",
          "content": "Announcement bar"
        },
        {
          "type": "checkbox",
          "id": "show_announcement",
          "label": "Show announcement",
          "default": false
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Bar",
          "default": "#fafafc"
        },
        {
          "type": "color",
          "id": "color_text",
          "label":  "Text",
          "default": "#1D1B1D"
        }
	],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
		  {
            "type": "textarea",
            "id": "svg",
            "label": "SVG code"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}