<div class="young-mom-banner innerpage__banner left_aligned">
  {%- assign categry_desktop = section.settings.banner-coll-desk | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {%- assign categry_mobile = section.settings.banner-coll-mob | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  
  
  {% if section.settings.banner-coll-desk != blank %}
  <div class="absolute-image-wrapper small--hide" style="padding-top:{{ 1 | divided_by: section.settings.banner-coll-desk.aspect_ratio | times: 100}}%;">
    <img 
    class="lazyload" 
    data-src="{{ categry_desktop }}" 
    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
    data-sizes="auto" />
  </div>
  {% endif %}
  {% if section.settings.banner-coll-mob != blank %}
  <div class="absolute-image-wrapper medium-up--hide" style="padding-top:{{ 1 | divided_by: section.settings.banner-coll-mob.aspect_ratio | times: 100}}%;">
    <img 
    class="lazyload" 
    data-src="{{ categry_mobile }}" 
    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
    data-sizes="auto" />
  </div>
  {% endif %}
  
  <div class="mothers-information small--text-center">
    {% if section.settings.title != blank %}
    <p class="title">{{ section.settings.title }}</p>
    {% endif %}
    {% if section.settings.main_title != blank %}
    <h1 class="main_title">{{ section.settings.main_title }}</h1>
    {% endif %}
    {% if section.settings.sub_text != blank %}
    <p class="text">{{ section.settings.sub_text }}</p>
    {% endif %}
    {% if section.settings.btn_txt != blank %}
    <a {% if section.settings.btn_url != blank %}href="{{ section.settings.btn_url }}/"{% endif %}>
      {{ section.settings.btn_txt }}
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 12 13"><defs><style>.a{fill:#fff;opacity:0;}.b{fill:#1d1b1d;stroke:#1d1b1d;stroke-width:0.2px;}</style></defs><g transform="translate(-204 -1102)"><rect class="a" width="12" height="13" transform="translate(204 1102)"/><g transform="translate(224.493 1029.152) rotate(-180)"><path class="b" d="M14.346-73.848a5.647,5.647,0,0,0,5.605-5.605,5.648,5.648,0,0,0-5.611-5.605,5.642,5.642,0,0,0-5.6,5.605A5.65,5.65,0,0,0,14.346-73.848Zm0-.934A4.649,4.649,0,0,1,9.68-79.453a4.644,4.644,0,0,1,4.66-4.671,4.661,4.661,0,0,1,4.677,4.671A4.65,4.65,0,0,1,14.346-74.782Zm-2.825-4.677a.452.452,0,0,0,.154.324l1.857,1.863a.4.4,0,0,0,.286.115.4.4,0,0,0,.4-.4.406.406,0,0,0-.121-.3l-.687-.676-.665-.561,1.165.044h2.863a.4.4,0,0,0,.412-.412.4.4,0,0,0-.412-.412H13.906l-1.16.044.659-.555.687-.681a.405.405,0,0,0,.121-.291.387.387,0,0,0-.4-.4.394.394,0,0,0-.286.11l-1.857,1.863A.428.428,0,0,0,11.521-79.459Z" transform="translate(0 0)"/></g></g></svg>
    </a>
    {% endif %}
  </div>
  {% if section.settings.btn_url != blank %}
  <a class="banner-link" href="{{ section.settings.btn_url }}/"></a>
  {% endif %}
</div>
{% schema %}
{
  "name": "Mother's Day Banner",
  "class": "small--page-width",
  "settings": [
  {
    "type": "image_picker",
    "id": "banner-coll-desk",
    "label": "Desktop Banner"
  },
  {
    "type": "image_picker",
    "id": "banner-coll-mob",
    "label": "Mobile Banner"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "celebrate"
  },
  {
    "type": "text",
    "id": "main_title",
    "label": "Main Title",
    "default": "Mother's Day"
  },
  {
    "type": "text",
    "id": "sub_text",
    "label": "Sub Text",
    "default": "Celebrate unconditional love with specially curated collection of earrings, rings and pendants for Mother’s Day! Let her know that she’s the centre of your universe by gifting her a piece of enchanting jewelry."
  },
  {
    "type": "url",
    "id": "btn_url",
    "label": "Button URL"
  },
  {
    "type": "text",
    "id": "btn_txt",
    "label": "Button Title",
    "default": "shop now"
  }
  ]
}
{% endschema %}