<div class="full-width-banner margin-top-bottom">
  {% assign full_width_image = section.settings.desktop-img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
  {% assign full_width_image_mob = section.settings.mobile-img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
  <img class="grid-view-item__image lazyload first-image desktop-image"
       alt="Gifting main banner"
       data-src="{{ full_width_image }}"
       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
       data-sizes="auto"
       data-image>
  <img class="grid-view-item__image lazyload first-image mobile-image"
       alt="Gifting main banner"
       data-src="{{ full_width_image_mob }}"
       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
       data-sizes="auto"
       data-image>
  <div class="full-width-banner-content">
    <h2 class="h3">{{ section.settings.title }}</h2>
    <p class="featured__subheading">{{ section.settings.subtitle }}</p>
    <p class="featured__description">
      {{ section.settings.description }}
    </p>
    <a href="{{ section.settings.link }}" class="btn shop-now">shop now</a>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
	  {
        "type": "image_picker",
        "id": "desktop-img",
        "label": "Desktop image"
      },
	  {
        "type": "image_picker",
        "id": "mobile-img",
        "label": "Mobile image"
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
	  {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
	  {
        "type": "url",
        "id": "link",
        "label": "Banner link"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
