{% assign pagination_type = section.settings.pagination_type %}
{% assign no_products_image = section.settings.no_products_image %}
{% assign empty_collection_text = section.settings.empty_collection_text %}
{% assign show_collection_title = section.settings.show_collection_title %}
{% assign enable_collection_sorting = section.settings.enable_collection_sorting %}
{% assign show_collection_breadcrumb = section.settings.show_collection_breadcrumb %}
{% assign show_collection_description = section.settings.show_collection_description %}

{% assign show_pagination = false %}
{% if pagination_type != 'infinite_scroll' %}
{% assign show_pagination = true %}
{% endif %}

<section data-section-id="{{ section.id }}" data-section-type="mm-collection-template " class="mm-collection  mm-collection-template-vault">
  
  
  {% assign plpBanner = collection.metafields.plp-banner.image %}
  {% assign bannerHeading = collection.metafields.plp-banner.heading %}
  {% assign bannerSubheading = collection.metafields.plp-banner.subheading %}
  {% assign bannerContent = collection.metafields.plp-banner.content %}
  {% assign plpBannerSmall = collection.metafields.plp-banner.mobile-image %}
  
  {% assign plpBannerDesktop = section.settings.desktop-banner %}
  {% assign plpBannerMobile = section.settings.mobile-banner %}
  
  <div class="innerpage__banner">
    <div class="banner_container">
      <img class="for_desktop lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Desktop_Banner_-_1240_x_200_-_last_few_days_left_-_1.jpg?v=1594991569" data-sizes="auto" />
      <img class="for_mobile lazyload" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Mobile_Banner_-_700_x_300_-_last_few_days_left_-_2.jpg?v=1594991567" data-sizes="auto" />
    </div>
  </div>
  
  
  <div class="innerpage__banner gift-collection-header">
    <div class="collectin-description banner_container">
      {{ collection.description }}
      <div class="btn-wrapper">
        <a class="three-btn btn" href="#flat-off">
          Flat off
        </a>
        <a class="three-btn btn" href="#off-30">
          30% Off
        </a>
        <a class="three-btn btn" href="#bundle-offer">
          Bundle Offers
        </a>
      </div>
    </div>
  </div>
  
  
  <section class="mm_collection-bg">
    <div class="container">
      <div class="row mm-sticky-block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
          <div class="product-container sparkling-deal">
            <div class="flat-off-deal">
              <h2 id="flat-off" class="title">Engagement Rings - Flat off</h2>
              <div class="product-wrapper row">
                {% for product in collections['flat-off-vault'].products %}
                {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- assign img_url_2 = product.images[2] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                  <div class="mm-product-card">
                    {% if product.compare_at_price > product.price %}
                    <div class="off-price-label">
                      {{ product.compare_at_price | minus: product.price | money }} Off
                    </div>
                    {% endif %}
                    <div id="PLP-Wishlist-{{ product.id }}" class="swym-custom-add-to-wishlist" data-product-id="{{ product.id }}" data-variant-id="{{ product.variants[0].id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><defs><style>.a{fill:#f2f2f2;}.b{fill:none;}</style></defs><g transform="translate(-589 -635)"><g transform="translate(591.234 638.028)"><path class="a" d="M12.061-73.311c0,3.705,3.105,7.349,8.011,10.481a1.425,1.425,0,0,0,.626.235,1.5,1.5,0,0,0,.635-.235c4.9-3.131,8-6.775,8-10.481A4.935,4.935,0,0,0,24.4-78.564a4.37,4.37,0,0,0-3.705,1.94,4.368,4.368,0,0,0-3.705-1.94A4.936,4.936,0,0,0,12.061-73.311Zm9.272,9.559c0-2.314-2.653-.417-.635-.417,1.635,0,.455-5.592,1.012-4.723.235.348-1.22-1.385-1.012-1.385s-.878,2.535-.626,2.2c.6-.852-.818,3.912.809,3.912,2.018,0,1.178-3.08,1.178-.767,0,3.236,2.458-1.651-1.178.767-.087.061.035.566,0,.566s-.278-.5-.357-.566C16.879-66.588,21.332-60.517,21.332-63.752Z" transform="translate(-12.061 78.564)"></path></g></g><rect class="b" width="22" height="22"></rect></svg>
                    </div>
                    <div class="mm-product-image has-hover-img">
                      <a href="{{ product.url }}/" class="mm-product-link">
                        <div class="mm-badges"></div>
                        <img id="{{ img_id }}"
                        class="grid-view-item__image lazyload first-image"
                        alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                        data-sizes="auto"
                        data-image>
                        <span class="images-two">
                          <img id="{{ img_id }}"
                          class="grid-view-item__image lazyload"
                          alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                          data-src="{{ img_url_2 }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ product.images[2].aspect_ratio }}"
                          data-sizes="auto"
                          data-image>
                        </span>
                      </a>
                      <p class="limited-offer"><i>Limited Time Offer</i></p>
                    </div>
                    <div class="mm-product-info">
                      <h6 class="mm-product-vendor">{{ product.vendor }}</h6>
                      <div class="mm-product-price">
                        {% if product.compare_at_price > product.price %}
                        <div class="mm-sale-price">{{ product.price | money }}</div>
                        <div class="mm-original-price">{{ product.compare_at_price | money }}</div>
                        {% else %}
                        <div class="mm-price">{{ product.price | money }}</div>
                        {% endif %}
                      </div>
                      
                      <a href="/products/enchanted-disney-fine-jewelry-14k-white-and-yellow-gold-1-3cttw-and-green-tourmaline-tinker-bell-bridal-ring/" class="mm-product-title">
                        {{ product.title }}
                      </a>
                      <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ stamped_template }}</span>
                      <a href="{{ product.url }}/" class="mm-product-vd">View Details</a></div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="bundle-offers">
                <h2 id="bundle-offer" class="title">Bundle Offers</h2>
                <div class="product-wrapper row">
                  {% for product in collections['bundles'].products %}
                  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- assign img_url_2 = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="mm-product-card">
                      <div class="swym-custom-add-to-wishlist" data-product-id="{{ product.id }}" data-variant-id="{{ product.variants[0].id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><defs><style>.a{fill:#f2f2f2;}.b{fill:none;}</style></defs><g transform="translate(-589 -635)"><g transform="translate(591.234 638.028)"><path class="a" d="M12.061-73.311c0,3.705,3.105,7.349,8.011,10.481a1.425,1.425,0,0,0,.626.235,1.5,1.5,0,0,0,.635-.235c4.9-3.131,8-6.775,8-10.481A4.935,4.935,0,0,0,24.4-78.564a4.37,4.37,0,0,0-3.705,1.94,4.368,4.368,0,0,0-3.705-1.94A4.936,4.936,0,0,0,12.061-73.311Zm9.272,9.559c0-2.314-2.653-.417-.635-.417,1.635,0,.455-5.592,1.012-4.723.235.348-1.22-1.385-1.012-1.385s-.878,2.535-.626,2.2c.6-.852-.818,3.912.809,3.912,2.018,0,1.178-3.08,1.178-.767,0,3.236,2.458-1.651-1.178.767-.087.061.035.566,0,.566s-.278-.5-.357-.566C16.879-66.588,21.332-60.517,21.332-63.752Z" transform="translate(-12.061 78.564)"></path></g></g><rect class="b" width="22" height="22"></rect></svg>
                      </div>
                      <div class="mm-product-image has-hover-img">
                        <a href="{{ product.url }}/" class="mm-product-link">
                          <div class="mm-badges"></div>
                          <img id="{{ img_id }}"
                          class="grid-view-item__image lazyload first-image"
                          alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image>
                          <span class="images-two">
                            <img id="{{ img_id }}"
                            class="grid-view-item__image lazyload"
                            alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                            data-src="{{ img_url_2 }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ product.images[2].aspect_ratio }}"
                            data-sizes="auto"
                            data-image>
                          </span>
                        </a>
                        <p class="limited-offer"><i>Limited Time Offer</i></p>
                      </div>
                      <div class="mm-product-info">
                        <h6 class="mm-product-vendor">{{ product.vendor }}</h6>
                        <div class="mm-product-price">
                          {% if product.compare_at_price > product.price %}
                          <div class="mm-sale-price">{{ product.price | money }}</div>
                          <div class="mm-original-price">{{ product.compare_at_price | money }}</div>
                          {% else %}
                          <div class="mm-price">{{ product.price | money }}</div>
                          {% endif %}
                        </div>
                        
                        <a href="{{ product.url }}/" class="mm-product-title">
                          {{ product.title }}
                        </a>
                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ stamped_template }}</span>
                        <a href="{{ product.url }}/" class="mm-product-vd">View Details</a></div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="off-30">
                  <h2 id="off-30" class="title">30% Off</h2>
                </div>
                <div class="product-wrapper row">
                  {% for product in collections['30-off-vault'].products %}
                  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- assign img_url_2 = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="mm-product-card">
                      {% if product.compare_at_price > product.price %}
                      <div class="off-price-label">
                        {% capture discount %}
                        {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}% Off
                        {% endcapture %}
                        {{ discount }}
                      </div>
                      {% endif %}
                      <div id="PLP-Wishlist-{{ product.id }}" class="swym-custom-add-to-wishlist" data-product-id="{{ product.id }}" data-variant-id="{{ product.variants[0].id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><defs><style>.a{fill:#f2f2f2;}.b{fill:none;}</style></defs><g transform="translate(-589 -635)"><g transform="translate(591.234 638.028)"><path class="a" d="M12.061-73.311c0,3.705,3.105,7.349,8.011,10.481a1.425,1.425,0,0,0,.626.235,1.5,1.5,0,0,0,.635-.235c4.9-3.131,8-6.775,8-10.481A4.935,4.935,0,0,0,24.4-78.564a4.37,4.37,0,0,0-3.705,1.94,4.368,4.368,0,0,0-3.705-1.94A4.936,4.936,0,0,0,12.061-73.311Zm9.272,9.559c0-2.314-2.653-.417-.635-.417,1.635,0,.455-5.592,1.012-4.723.235.348-1.22-1.385-1.012-1.385s-.878,2.535-.626,2.2c.6-.852-.818,3.912.809,3.912,2.018,0,1.178-3.08,1.178-.767,0,3.236,2.458-1.651-1.178.767-.087.061.035.566,0,.566s-.278-.5-.357-.566C16.879-66.588,21.332-60.517,21.332-63.752Z" transform="translate(-12.061 78.564)"></path></g></g><rect class="b" width="22" height="22"></rect></svg>
                      </div>
                      <div class="mm-product-image has-hover-img">
                        <a href="{{ product.url }}/" class="mm-product-link">
                          <div class="mm-badges"></div>
                          <img id="{{ img_id }}"
                          class="grid-view-item__image lazyload first-image"
                          alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image>
                          <span class="images-two">
                            <img id="{{ img_id }}"
                            class="grid-view-item__image lazyload"
                            alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                            data-src="{{ img_url_2 }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ product.images[2].aspect_ratio }}"
                            data-sizes="auto"
                            data-image>
                          </span>
                        </a>
                        <p class="limited-offer"><i>Limited Time Offer</i></p>
                      </div>
                      <div class="mm-product-info">
                        <h6 class="mm-product-vendor">{{ product.vendor }}</h6>
                        <div class="mm-product-price">
                          {% if product.compare_at_price > product.price %}
                          <div class="mm-sale-price">{{ product.price | money }}</div>
                          <div class="mm-original-price">{{ product.compare_at_price | money }}</div>
                          {% else %}
                          <div class="mm-price">{{ product.price | money }}</div>
                          {% endif %}
                        </div>
                        
                        <a href="/products/enchanted-disney-fine-jewelry-14k-white-and-yellow-gold-1-3cttw-and-green-tourmaline-tinker-bell-bridal-ring/" class="mm-product-title">
                          {{ product.title }}
                        </a>
                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ stamped_template }}</span>
                        <a href="{{ product.url }}/" class="mm-product-vd">View Details</a></div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  
                  <div class="no-products" 
                  id="empty-products" 
                  style="display: none;">
                  {% if no_products_image != nil %}
                  <img class="lazyload" data-src="{{ no_products_image | img_url: '150x' }}" alt="Empty Collection Image" data-sizes="auto">
                  {% endif %}
                  {% if empty_collection_text != blank %}
                  <p>{{ empty_collection_text }}</p>
                  {% else %}
                  <p>We are sorry, no products match your filter selections. Please adjust them further.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      {% comment %}
      <section class="footer-seo">
        <div class="container">
          {{ collection.description | split:"<!-- footer seo -->" | last }}
        </div>
      </section>
      {% endcomment %}
      {% if section.settings.sidebar_filter_heading %}
      {% assign sidebar_filter_heading = section.settings.sidebar_filter_heading %}
      {% else %}
      {% assign sidebar_filter_heading = 'Filter By' %}
      {% endif %}
      
      
      
    </section>
    
    {% include 'mm-filter-content' %}
    
    {% assign price_slider = section.settings.price_range_slider %}
    {% if price_slider %}
    <script defer="defer" src="{{ 'mm-slider.min.js' | asset_url }}"></script>
    {% endif %}
    
    <style>
      p.limited-offer {
        margin: 0;
        font-family: "NewYork-Regular";
        color: rgb(0,48,87);
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 0;
        z-index: 99;
        font-size: 12px;
        font-weight: 600;
        background: #fff;
      }
      @media (max-width: 767px){
        p.limited-offer {
          left: 5px !important;
          font-size: 10px !important;
          
        }
        .mm-collection-template-vault .collectin-description p {
          font-size: 14px;
          text-align: justify;
        }
        .template-collection .breadcrumb {
          display: none;
        }
        .gift-collection-header {
          margin: 15px 0 -10px;
        }
        .mm-collection-template-vault .collectin-description .btn-wrapper a.three-btn.btn{
          padding: 7px 30px;
          font-size: 14px;
          margin-bottom: 10px;
          width: 48%;
        }
        .mm-collection-template-vault .collectin-description .btn-wrapper {
          margin-top: 15px;
          justify-content: space-between;
        }
        .mm-collection-template-vault .collectin-description .btn-wrapper a.three-btn.btn:last-child {
          width: 100%;
        }
        .mm-collection .mm_collection-bg {
          padding-top: 0;
        }
        .sparkling-deal h2.title, .sparkling-deal .title.h2 {
          margin-top: 20px;
          margin-bottom: 0;
        }
        .mm-collection .product-container .mm-product-card .mm-product-info .mm-product-price {
          width: 100%;
        }
        .mm-collection .product-container .mm-product-card .mm-product-info .mm-product-price .mm-sale-price {
          font-size: 16px;
        }
        .mm-collection .product-container .mm-product-card .mm-product-info .mm-product-price .mm-original-price {
          font-size: 16px;
        }
      }
    </style>
    
    {% schema %}
    {
      "name": "Collection Page",
      "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_banner",
        "label": "Show collection Banner",
        "default": true
      },
      {
        "type": "header",
        "content": "Collections Page Banner"
      },
      {
        "type": "image_picker",
        "id": "desktop-banner",
        "label": "Desktop Banner Image"
      },
      {
        "type": "image_picker",
        "id": "mobile-banner",
        "label": "Mobile Banner Image"
      },
      {
        "type": "header",
        "content": "Heading and Description"
      },
      {
        "type": "checkbox",
        "id": "show_collection_title",
        "label": "Show collection title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "label": "Show collection description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Layout"
      },
      {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "Show Vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sale_badge",
        "label": "Show Sale Badge",
        "default": true
      },
      {
        "type": "text",
        "id": "sale_badge_text",
        "label": "Sale Badge Text",
        "default": "Sale"
      },
      {
        "type": "checkbox",
        "id": "show_soldout_badge",
        "label": "Show Soldout Badge",
        "default": true
      },
      {
        "type": "text",
        "id": "soldout_badge_text",
        "label": "Soldout Badge Text",
        "default": "Soldout"
      },
      {
        "type": "header",
        "content": "Empty Collection"
      },
      {
        "type": "image_picker",
        "id": "no_products_image",
        "label": "Empty Collection Image"
      },
      {
        "type": "textarea",
        "id": "empty_collection_text",
        "label": "Empty Collection Text",
        "default": "We are sorry, no products match your filter selections. Please adjust them further."
      },
      {
        "type": "header",
        "content": "Pagination"
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Pagination Type",
        "options": [
        {
          "value": "basic_pagination",
          "label": "Page Links"
        },
        {
          "value": "infinite_scroll",
          "label": "Infinite Scroll"
        }
        ]
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Products per page",
        "min": 3,
        "max": 45,
        "step": 1,
        "default": 18
      },
      {
        "type": "header",
        "content": "Filter Sidebar"
      },	  
      {
        "type": "checkbox",
        "id": "show_filter_heading",
        "label": "Show Filter Heading",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_sidebar",
        "label": "Enable Sticky Sidebar",
        "default": false
      },
      {
        "type": "text",
        "id": "sidebar_filter_heading",
        "label": "Heading",
        "default": "Filter By"
      },
      {
        "type": "select",
        "id": "mobile_sidebar_style",
        "label": "Mobile Sidebar Style",
        "options": [
        {
          "value": "from_down",
          "label": "Open From Down"
        },
        {
          "value": "from_side",
          "label": "Open From Side"
        }
        ]
      },
      {
        "type": "header",
        "content": "Collection Sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_collection_sorting",
        "label": "Enable Collection Sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_count",
        "label": "Show product count",
        "default": true
      },
      {
        "type": "header",
        "content": "Brand Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_brand_filter",
        "label": "Enable Brand Filter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_brand_filter_search",
        "label": "Enable Search Box",
        "info": "This will show search box for brand filter, which will help user to search brands.",
        "default": true
      },
      {
        "type": "text",
        "id": "brand_filter_heading",
        "label": "Heading",
        "default": "Brand"
      },
      {
        "type": "header",
        "content": "Product Type Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_pt_filter",
        "label": "Enable Product Type Filter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_pt_filter_search",
        "label": "Enable Search Box",
        "info": "This will show search box for product type filter, which will help user to search product types.",
        "default": true
      },
      {
        "type": "text",
        "id": "pt_filter_heading",
        "label": "Heading",
        "default": "Product Type"
      },
      {
        "type": "header",
        "content": "Price Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_price_filter",
        "label": "Enable Price Filter",
        "default": true
      },
      {
        "type": "text",
        "id": "price_filter_heading",
        "label": "Heading",
        "default": "Price"
      },
      {
        "type": "textarea",
        "id": "price_ranges",
        "label": "Price Range",
        "default": "0-500,500-1000,1000-2000,2000-3000,3000-100000"
      },
      {
        "type": "checkbox",
        "id": "price_range_slider",
        "label": "Enable Price Slider",
        "default": false
      },
      {
        "type": "header",
        "content": "Size Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_size_filter",
        "label": "Enable Size Filter",
        "info": "Sizes will appear only when products has the size variant.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_size_filter_swatch",
        "label": "Enable Size Swatch",
        "default": true
      },
      {
        "type": "text",
        "id": "size_filter_heading",
        "label": "Heading",
        "default": "Size"
      },
      {
        "type": "header",
        "content": "Color Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_color_filter",
        "label": "Enable Color Filter",
        "info": "Colors will appear only when products has the color variant.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_color_filter_swatch",
        "label": "Enable Color Swatch",
        "default": true
      },
      {
        "type": "text",
        "id": "color_filter_heading",
        "label": "Heading",
        "default": "Color"
      },
      {
        "type": "header",
        "content": "Tag Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_tag_filter",
        "label": "Enable Tag Filter",
        "info": "Add tag filters in sidebar by adding content blocks.",
        "default": true
      },
      {
        "type": "header",
        "content": "Multi-level Filter"
      },
      {
        "type": "checkbox",
        "id": "enable_multilevel_filter",
        "label": "Enable Multi Level Filter",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Add tag in to the products to activate multi level filters. Syntax: mf___First Level__Second Level--Tag"
      },
      {
        "type": "header",
        "content": "Zales Banner Content"
      },
      {
        "type": "image_picker",
        "id": "zales-banner",
        "label": "Zales Banner"
      },
      {
        "type": "image_picker",
        "id": "zales-item",
        "label": "Zales Item"
      },
      {
        "type": "image_picker",
        "id": "zales-logo",
        "label": "Zales Logo"
      },
      {
        "type": "text",
        "id": "zales-text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button-label",
        "label": "Text",
        "default": "VIEW"
      },
      {
        "type": "header",
        "content": "Zales Popup Content"
      },
      {
        "type": "text",
        "id": "popup-heading",
        "label": "Popup Heading"
      },
      {
        "type": "text",
        "id": "popup-text",
        "label": "Popup Paragraph"
      },
      {
        "type": "text",
        "id": "popup-button-text",
        "label": "Button Label",
        "default" : "Visit Zales"
      },
      {
        "type": "url",
        "id": "popup-button-url",
        "label": "Button URL"
      }
      ],
      "blocks": [
      {
        "type": "tag_filters",
        "name": "Tag Filter",
        "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters."
        }
        ]
      }
      ]
    }
    {% endschema %}
    
    
    