{% if section.settings.show_section %}
<!-- pdp-feature-row-1.liquid -->
<div class="page-width">
  <div class="section-wrapper">
    <div class="grid wow fadeInUp">
      <div class="grid__item medium-up--one-half grid__item-content">
        <div class="content small--text-center">
          {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
          <div class="text">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.button_label and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn-border btn-gold{% if product.tags contains 'Chateau Collection' %} btn-hover-white{% else %} btn-hover-blue{% endif %}">
            <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
            {{ section.settings.button_label }}
            <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="grid__item medium-up--one-half grid__item-image">
        {% assign image = section.settings.image | img_url: 'master' %}
        {% if section.settings.video_url != blank %}
        <video width="100%" playsinline="" autoplay muted loop>
          <source src="{{ section.settings.video_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
        {% else %}
<!--         <img class="lazyload" data-src="{{ image }}" data-sizes="auto" alt="" /> -->
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}