{% include 'footer-top' %}

{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign show_payment_icons = false -%}

{%- if section.settings.show_payment_icons -%}
{%- unless shop.enabled_payment_types == empty -%}
{%- assign show_payment_icons = true -%}
{%- endunless -%}
{%- endif -%}

{%- if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or request.page_type == 'article' or request.page_type == 'blog' -%}
{%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
{%- unless social_icons -%}
{%- assign payment_width_class = "" -%}
{%- endunless -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
{%- unless show_selectors -%}
{%- assign copyright_show_class = "" -%}
{%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
{%- when 1 -%}
{%- assign footer_item = 'site-footer__item--full-width' -%}
{%- assign inline_list = true -%}
{%- when 2 -%}
{%- assign footer_item = 'site-footer__item--one-half' -%}
{%- assign inline_list = true -%}
{%- when 3 -%}
{%- assign footer_item = 'site-footer__item--one-third' -%}
{%- when 4 -%}
{%- assign footer_item = 'site-footer__item--one-quarter' -%}
{%- when 5 -%}
{%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

<footer class="custom__footer" data-section-type="custom__footer" data-section-id="{{ section.id }}">
  <div class="custom__footer--inner">    
    {%- capture payment_icon_markup -%}
    {%- if show_payment_icons -%}
    <div class="site-footer__payment-icons">
      {% comment %}<span>{{ 'general.payment.method' | t }}</span>{% endcomment %}
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
        <li class="payment-icon">
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
    {%- endcapture -%}
    
    <section class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
      <div class="page-width">
        <div class="site-footer__content">
          {%- for block in section.blocks -%}
          
          <div class="site-footer__item {% if section.blocks.size == 1 %} site-footer__item--center{% endif %} {{ footer_item }}"
          {{ block.shopify_attributes }}>
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">
            
            {%- if block.settings.title != blank -%}
            <p onclick="footeracc(this, 'foot_acc_{{ block.id }}')" class="h4 accordion_btn_foot foot_acc_{{ block.id }}">{{ block.settings.title | escape }}</p>
            {%- endif -%}
            
            {%- case block.type -%}            
            {%- when 'Image' -%}
            {%- if block.settings.footer_logo != nil -%}
            <div class="site-footer__rte {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
              <img class="lazyload" data-src="{{ block.settings.footer_logo | img_url: 'master' }}" alt=""
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-sizes="auto"
              data-image />
            </div>
            
            {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
            {%- if social_icons -%}
            <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
              <p class="social_text h4">Connect with us</p>
              {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
              <li class="social-icons__item">
                <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                  {%- include icon_link -%}
                  <span class="icon__fallback-text">{{ social }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
            {% endif %}
            {%- endif -%}
            
            {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
            <div class="site-footer__rte {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
              {{ block.settings.text }}
            </div>
            {%- endif -%}
            
            {%- when 'link_list' -%}
            {%- assign footer_linklist = block.settings.menu -%}
            <ul id="foot_acc_{{ block.id }}" class="site-footer__linklist {% if inline_list %}list--inline{% endif %} accordion_text_foot">
              {%- for link in linklists[footer_linklist].links -%}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}/"
                {% if link.current %} aria-current="page"{% endif %}
                >
                {{ link.title | escape }}
              </a>
            </li>
            {%- endfor -%}
          </ul>
          {%- endcase -%}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
  
  {% if show_payment_icons %}
  <div class="site-footer__middle">
    <div class="page-width">
      {{ payment_icon_markup }}
    </div>
  </div>
  {% endif %}
  <div class="site-footer__bottom footer_links" style="text-align: center;">
    {% comment %}
    {% include 'payment-badges' %}
    {% endcomment %}
    <div class="copyright">
      <p>© {{ 'now' | date: "%Y" }} Renaissance Global, All Right Reserved.  </p>
    </div>
  </div>
</section>
</div>
</footer>

<script>
  $(document).ready(function(){    
    // Mobile accordian 
    jQuery( '.accordion_btn_foot:first' ).addClass( 'active_foot' );
    jQuery( '.accordion_text_foot:first' ).css("display","block");
  });
  function footeracc(evt, city) {
    if($(window).width() < 768){
      var hotelblock, tablinks;
      hotelblock = document.getElementsByClassName(city);
      tablinks = document.getElementById(city);
      $(tablinks).slideToggle('slow');
      $(hotelblock).toggleClass('active_foot');
    }
  }
</script>

{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Custom Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 4,
  "settings": [
  {
    "type": "header",
    "content": {
      "da": "Betalingsmetoder",
      "de": "Zahlungsmethoden",
      "en": "Payment methods",
      "es": "Métodos de pago",
      "fi": "Maksutavat",
      "fr": "Moyens de paiement",
      "hi": "भुगतान की विधियां",
      "it": "Metodi di pagamento",
      "ja": "決済方法",
      "ko": "결제 방법",
      "nb": "Betalingsmetoder",
      "nl": "Betaalmethoden",
      "pt-BR": "Formas de pagamento",
      "pt-PT": "Métodos de Pagamento",
      "sv": "Betalningsmetoder",
      "th": "วิธีการชำระเงิน",
      "zh-CN": "支付方式",
      "zh-TW": "付款方式"
    }
  },
  {
    "type": "checkbox",
    "id": "show_payment_icons",
    "label": {
      "da": "Vis betalingsikoner",
      "de": "Zahlungs-Buttons anzeigen",
      "en": "Show payment icons",
      "es": "Mostrar iconos de pago",
      "fi": "Näytä maksukuvakkeet",
      "fr": "Afficher les icônes de paiement",
      "hi": "भुगतान आइकन दिखाएं",
      "it": "Mostra le icone di pagamento",
      "ja": "支払いアイコンを表示する",
      "ko": "결제 아이콘 표시",
      "nb": "Vis betalingsikoner",
      "nl": "Betalingspictogrammen weergeven",
      "pt-BR": "Exibir ícones de pagamento",
      "pt-PT": "Mostrar ícones de pagamento",
      "sv": "Visa betalningsikoner",
      "th": "แสดงไอคอนการชำระเงิน",
      "zh-CN": "显示付款图标",
      "zh-TW": "顯示付款圖示"
    },
    "default": false
  }
  ],
  "blocks": [
  {
    "type": "link_list",
    "name": {
      "da": "Menu",
      "de": "Menü",
      "en": "Menu",
      "es": "Menú",
      "fi": "Valikko",
      "fr": "Menu",
      "hi": "मेनू",
      "it": "Menu",
      "ja": "メニュー",
      "ko": "메뉴",
      "nb": "Meny",
      "nl": "Menu",
      "pt-BR": "Menu",
      "pt-PT": "Menu",
      "sv": "Meny",
      "th": "เมนู",
      "zh-CN": "菜单",
      "zh-TW": "選單"
    },
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Hurtige links",
        "de": "Quick-Links",
        "en": "Quick links",
        "es": "Enlaces rápidos",
        "fi": "Pikalinkit",
        "fr": "Liens rapides",
        "hi": "त्वरित लिंक",
        "it": "Link rapidi",
        "ja": "クイックリンク",
        "ko": "빠른 링크",
        "nb": "Hurtigkoblinger",
        "nl": "Snelle links",
        "pt-BR": "Links rápidos",
        "pt-PT": "Ligações rápidas",
        "sv": "Snabblänkar",
        "th": "ลิงก์ด่วน",
        "zh-CN": "快速链接",
        "zh-TW": "快速連結"
      }
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "footer"
    }
    ]
  },
  {
    "type": "text",
    "name": {
      "da": "Tekst",
      "de": "Text",
      "en": "Text",
      "es": "Texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "zh-CN": "文本",
      "zh-TW": "文字"
    },
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Fortæl om din virksomhed",
        "de": "Rede über dein Unternehmen",
        "en": "Talk about your business",
        "es": "Habla sobre tu negocio",
        "fi": "Kerro yrityksestäsi",
        "fr": "Parlez de votre entreprise",
        "hi": "अपने व्यवसाय के बारे में बात करें",
        "it": "Parla della tua attività commerciale",
        "ja": "あなたのビジネスについて語る",
        "ko": "비즈니스에 대한 이야기하기",
        "nb": "Snakk om bedriften din",
        "nl": "Vertel over je bedrijf",
        "pt-BR": "Fale sobre o seu negócio",
        "pt-PT": "Fale sobre o seu negócio",
        "sv": "Prata om ditt företag",
        "th": "พูดถึงธุรกิจของคุณ",
        "zh-CN": "介绍您的业务",
        "zh-TW": "描述您的商家"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder.</p>",
        "de": "<p>Teile deine Shop-Details, Werbeaktionen oder Markeninhalte mit deinen Kunden.</p>",
        "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
        "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
        "fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
        "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
        "hi": "<p>अपने ग्राहकों के साथ स्टोर विवरण, प्रचार या ब्रांड सामग्री साझा करें.</p>",
        "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
        "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
        "ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
        "nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine.</p>",
        "nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>",
        "pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes.</p>",
        "pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo de marca com os seus clientes.</p>",
        "sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
        "th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
        "zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
        "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
      }
    }
    ]
  },
  {
    "type": "Image",
    "limit": 1,
    "name": "Logo Image",
    "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    }
    ]
  }
  ]
}
{% endschema %}