{% assign pagination_type = section.settings.pagination_type %}
{% assign no_products_image = section.settings.no_products_image %}
{% assign empty_collection_text = section.settings.empty_collection_text %}
{% assign show_collection_title = section.settings.show_collection_title %}
{% assign enable_collection_sorting = section.settings.enable_collection_sorting %}
{% assign show_collection_breadcrumb = section.settings.show_collection_breadcrumb %}
{% assign show_collection_description = section.settings.show_collection_description %}

{% assign show_pagination = false %}
{% if pagination_type != 'infinite_scroll' %}
{% assign show_pagination = true %}
{% endif %}

<section data-section-id="{{ section.id }}" data-section-type="mm-collection-template" class="mm-collection">
  
  {% if show_collection_breadcrumb %}
  <div class="container">
    <div class="row mm-collection-breadcrumb">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
          <a href="/" title="Home">Home</a>  
          {% if template contains 'collection' and collection.handle %}
          <span aria-hidden="true">&bull;</span>
          {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
          <span aria-hidden="true">/</span>
          <span>{{ current_tags | join: " + " }}</span>
          {% else %}
          <span>{{ collection.title }}</span>
          {% endif %}
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="innerpage__banner">
    <div class="banner_container">
      <img class="for_desktop lazyload" data-src="{{ collection.metafields.global.collection_desktop }}" data-sizes="auto" />
      <img class="for_mobile lazyload" data-src="{{ collection.metafields.global.collection_mobile }}" data-sizes="auto" />
    </div>
  </div>
  
  
  <section class="mm_collection-bg">
    <div class="container">
      <div class="row mm-sticky-block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <div class="mm-filter-sidebar mm-sticky-sidebar">
            <div class="mm-sticky-inner">
              {% include 'mm-filter-sidebar' %}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">        
          <div class="mm-product-header">
            <div class="mm-filter-btn">
              <button class="mm-button" id="sidebar-filter-opener">{{ sidebar_filter_heading }}</button>
            </div>
            
            <p></p>
            
            {% if enable_collection_sorting %}
            <div class="mm-sort-content">
              <select id="ajaxSort" class="sort-wrapper">
                <option value="best-selling">Best Selling</option>
                <option value="price-ascending">Price: Low to High</option>
                <option value="price-descending">Price: High to Low</option>                
                <option value="title-ascending">Alphabetically: A-Z</option>
                <option value="title-descending">Alphabetically: Z-A</option>
                <option value="created-descending">Date: New to Old</option>
                <option value="created-ascending">Date: Old to New</option>
              </select>
            </div>
            {% endif %}
          </div>
          
          <div class="small--one-whole medium-up--one-whole applied__filter_wrapper" style="display: none;">
            <div class="small--one-whole medium-up--one-whole" id="applied__filter">
              
            </div>
          </div>
          
          <div id="confirm-filter-clear" class="clearall-content mfp-hide">
            <h4>Clear All Filters</h4>
            <p>Are you sure you want to clear all filters?</p>
            <span class="reset-filter clear-all btn" onClick="closePopup();">Confirm</span>
          </div>
          <script>
            function closePopup() {
              $.magnificPopup.close();
            }
          </script>
          
          <div class="product-container">
            <div id="product-loop" class="row"></div>
            <div class="no-products" 
            id="empty-products" 
            style="display: none;">
            {% if no_products_image != nil %}
            <img class="lazyload" data-src="{{ no_products_image | img_url: '150x' }}" alt="Empty Collection Image" data-sizes="auto">
            {% endif %}
            {% if empty_collection_text != blank %}
            <p>{{ empty_collection_text }}</p>
            {% else %}
            <p>We are sorry, no products match your filter selections. Please adjust them further.</p>
            {% endif %}
          </div>
          
          {% assign zales-banner = section.settings.zales-banner %}
          {% assign zales-item = section.settings.zales-item %}
          {% assign zales-logo = section.settings.zales-logo %}
          {% assign zales-text = section.settings.zales-text %}
          {% assign button-label = section.settings.button-label %}
          <div class="zales_banner" style="background-image: url('//cdn.shopify.com/s/files/1/0267/0523/1943/files/Zales_Banner.png?v=1577618221');">
            <div class="zales_banner--inner">
              
              <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0267/0523/1943/files/zales-ring.png?v=1578999377" alt="Enchanted Disney" data-sizes="auto">
              
            </div>
            <div class="zales_banner--inner">
              
              <p>Additional Product Available At</p>
              
              
              <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0267/0523/1943/files/Zales_Logo.png?v=1578999439" alt="Enchanted Disney" data-sizes="auto">
              
            </div>
            <div class="zales_banner--inner">
              
              <a href="#zales-popup" class="js-content-popup btn">Visit Zales</a>
              
            </div>
          </div>
          
          {% assign popup-heading = section.settings.popup-heading %}
          {% assign popup-text = section.settings.popup-text %}
          {% assign popup-button-text = section.settings.popup-button-text %}
          {% assign popup-button-url = section.settings.popup-button-url %}
          <div id="zales-popup" class="product-page-content mfp-hide">
            {% if popup-heading != blank %}
            <h4>{{ popup-heading }}</h4>
            {% endif %}
            {% if popup-text != blank %}
            <p>{{ popup-text }}</p>
            {% endif %}
            {% if popup-button-text != blank %}
            <a href="{{ popup-button-url }}" class="btn" target="_blank">{{ popup-button-text }}</a>
            {% endif %}
          </div>
          
          <div class="mm-pagination" {% if show_pagination == false %}style="opacity: 0;"{% endif %}>
            <div id="mm-pagination-holder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if section.settings.sidebar_filter_heading %}
{% assign sidebar_filter_heading = section.settings.sidebar_filter_heading %}
{% else %}
{% assign sidebar_filter_heading = 'Filter By' %}
{% endif %}

</section>

{% include 'mm-filter-content-princesses' %}

{% assign price_slider = section.settings.price_range_slider %}
{% if price_slider %}
<script defer="defer" src="{{ 'mm-slider.min.js' | asset_url }}"></script>
{% endif %}


{% schema %}
{
  "name": "Collection Page",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_collection_banner",
    "label": "Show collection Banner",
    "default": true
  },
  {
    "type": "header",
    "content": "Collections Page Banner"
  },
  {
    "type": "image_picker",
    "id": "desktop-banner",
    "label": "Desktop Banner Image"
  },
  {
    "type": "image_picker",
    "id": "mobile-banner",
    "label": "Mobile Banner Image"
  },
  {
    "type": "header",
    "content": "Heading and Description"
  },
  {
    "type": "checkbox",
    "id": "show_collection_title",
    "label": "Show collection title",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_collection_description",
    "label": "Show collection description",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_collection_breadcrumb",
    "label": "Show breadcrumb links",
    "default": false
  },
  {
    "type": "header",
    "content": "Product Layout"
  },
  {
    "type": "checkbox",
    "id": "show_product_vendor",
    "label": "Show Vendor",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_sale_badge",
    "label": "Show Sale Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "sale_badge_text",
    "label": "Sale Badge Text",
    "default": "Sale"
  },
  {
    "type": "checkbox",
    "id": "show_soldout_badge",
    "label": "Show Soldout Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "soldout_badge_text",
    "label": "Soldout Badge Text",
    "default": "Soldout"
  },
  {
    "type": "header",
    "content": "Empty Collection"
  },
  {
    "type": "image_picker",
    "id": "no_products_image",
    "label": "Empty Collection Image"
  },
  {
    "type": "textarea",
    "id": "empty_collection_text",
    "label": "Empty Collection Text",
    "default": "We are sorry, no products match your filter selections. Please adjust them further."
  },
  {
    "type": "header",
    "content": "Pagination"
  },
  {
    "type": "select",
    "id": "pagination_type",
    "label": "Pagination Type",
    "options": [
    {
      "value": "basic_pagination",
      "label": "Page Links"
    },
    {
      "value": "infinite_scroll",
      "label": "Infinite Scroll"
    }
    ]
  },
  {
    "type": "range",
    "id": "pagination_limit",
    "label": "Products per page",
    "min": 3,
    "max": 45,
    "step": 1,
    "default": 45
  },
  {
    "type": "header",
    "content": "Filter Sidebar"
  },	  
  {
    "type": "checkbox",
    "id": "show_filter_heading",
    "label": "Show Filter Heading",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_sticky_sidebar",
    "label": "Enable Sticky Sidebar",
    "default": false
  },
  {
    "type": "text",
    "id": "sidebar_filter_heading",
    "label": "Heading",
    "default": "Filter By"
  },
  {
    "type": "select",
    "id": "mobile_sidebar_style",
    "label": "Mobile Sidebar Style",
    "options": [
    {
      "value": "from_down",
      "label": "Open From Down"
    },
    {
      "value": "from_side",
      "label": "Open From Side"
    }
    ]
  },
  {
    "type": "header",
    "content": "Collection Sorting"
  },
  {
    "type": "checkbox",
    "id": "enable_collection_sorting",
    "label": "Enable Collection Sorting",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_product_count",
    "label": "Show product count",
    "default": true
  },
  {
    "type": "header",
    "content": "Brand Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter",
    "label": "Enable Brand Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for brand filter, which will help user to search brands.",
    "default": true
  },
  {
    "type": "text",
    "id": "brand_filter_heading",
    "label": "Heading",
    "default": "Brand"
  },
  {
    "type": "header",
    "content": "Product Type Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter",
    "label": "Enable Product Type Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for product type filter, which will help user to search product types.",
    "default": true
  },
  {
    "type": "text",
    "id": "pt_filter_heading",
    "label": "Heading",
    "default": "Product Type"
  },
  {
    "type": "header",
    "content": "Price Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_price_filter",
    "label": "Enable Price Filter",
    "default": true
  },
  {
    "type": "text",
    "id": "price_filter_heading",
    "label": "Heading",
    "default": "Price"
  },
  {
    "type": "textarea",
    "id": "price_ranges",
    "label": "Price Range",
    "default": "0-500,500-1000,1000-2000,2000-3000,3000-100000"
  },
  {
    "type": "checkbox",
    "id": "price_range_slider",
    "label": "Enable Price Slider",
    "default": false
  },
  {
    "type": "header",
    "content": "Size Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter",
    "label": "Enable Size Filter",
    "info": "Sizes will appear only when products has the size variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter_swatch",
    "label": "Enable Size Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "size_filter_heading",
    "label": "Heading",
    "default": "Size"
  },
  {
    "type": "header",
    "content": "Color Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter",
    "label": "Enable Color Filter",
    "info": "Colors will appear only when products has the color variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter_swatch",
    "label": "Enable Color Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "color_filter_heading",
    "label": "Heading",
    "default": "Color"
  },
  {
    "type": "header",
    "content": "Tag Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_tag_filter",
    "label": "Enable Tag Filter",
    "info": "Add tag filters in sidebar by adding content blocks.",
    "default": true
  },
  {
    "type": "header",
    "content": "Multi-level Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_multilevel_filter",
    "label": "Enable Multi Level Filter",
    "default": true
  },
  {
    "type": "paragraph",
    "content": "Add tag in to the products to activate multi level filters. Syntax: mf___First Level__Second Level--Tag"
  },
  {
    "type": "header",
    "content": "Zales Banner Content"
  },
  {
    "type": "image_picker",
    "id": "zales-banner",
    "label": "Zales Banner"
  },
  {
    "type": "image_picker",
    "id": "zales-item",
    "label": "Zales Item"
  },
  {
    "type": "image_picker",
    "id": "zales-logo",
    "label": "Zales Logo"
  },
  {
    "type": "text",
    "id": "zales-text",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "button-label",
    "label": "Text",
    "default": "VIEW"
  },
  {
    "type": "header",
    "content": "Zales Popup Content"
  },
  {
    "type": "text",
    "id": "popup-heading",
    "label": "Popup Heading"
  },
  {
    "type": "text",
    "id": "popup-text",
    "label": "Popup Paragraph"
  },
  {
    "type": "text",
    "id": "popup-button-text",
    "label": "Button Label",
    "default" : "Visit Zales"
  },
  {
    "type": "url",
    "id": "popup-button-url",
    "label": "Button URL"
  }
  ],
  "blocks": [
  {
    "type": "tag_filters",
    "name": "Tag Filter",
    "settings": [
    {
      "type": "text",
      "id": "filter_name",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "filter_tags",
      "label": "Tags",
      "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters."
    }
    ]
  }
  ]
}
{% endschema %}
