<!-- /snippets/social-sharing.liquid -->
<ul class="social-sharing">
  <li>
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}{{ product.url }}" class="btn btn--small btn--share share-facebook">
      {% include 'icon-facebook' %}
    </a>
  </li>
  <li>
    <a target="_blank" href="//twitter.com/share?text={{ product.title }}&amp;url={{ shop.url | append: share_permalink }}{{ product.url }}" class="btn btn--small btn--share share-twitter">
      {% include 'icon-twitter' %}
    </a>
  </li>
  <li>
    <a target="_blank" rel="noopener" 
       href="https://wa.me/?text={{ product.title }} {{ shop.url | append: share_permalink }}{{ product.url }}" class="btn btn--small btn--share share-pinterest">
      {% include 'icon-pinterest' %}
    </a>
  </li>

  <li>
    <a target="_blank" href="mailto:?Subject=Enchanted Disney Fine Jewelry&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ shop.url | append: share_permalink }}{{ product.url }}" class="btn btn--small btn--share share-facebook">
      {% include 'icon-mail' %}
    </a>
  </li>
</ul>

<!-- AddToAny BEGIN -->
<!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script> -->
<!-- AddToAny END -->