<div class="anna-diamonds-fashion-main-div">
  <div class="anna-diamonds-fashion-sec">
<!--         <img class="anna-diamonds-img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Anna-diamonds-Img.png?v=1612154972"> -->
   <img class="anna-diamonds-img" src="{{ section.settings.diamonds-bg | img_url: 'master' }}">
    <div class="princess-collection-heading anna-diamonds-caption">
      <div class="anna-diamonds-caption-div">
        <h2 class="anna-heading">{{ section.settings.collection-title }}</h2>
        <h5 class="anna-sub-heading">{{ section.settings.collection-subtitle }}</h5>
        <img class="lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" alt="" sizes="397px" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110">
        <a href="" class="anna-shop-btn">
          Shop now
        </a>
      </div>
      <div style="clear:both"></div>
      <div class="anna-product-coll-sec">
        <div class="anna-product-coll">
<!--           <img class="product_img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/JASMINE_20180511_1950.png?v=1612157879"> -->
          
           <img class="product_img" src="{{ section.settings.anna-diamond-img1 | img_url: '400x400' }}">
          
          <img class="starimg" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" alt="" sizes="397px" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110">
        <a href="" class="shop-btn">
          Shop pendants
        </a>
        </div>
        <div class="anna-product-coll">
<!--           <img class="product_img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/JASMINE-ZALE-LOOK_20180511_1250.png?v=1612160002"> -->
          <img class="product_img" src="{{ section.settings.anna-diamond-img2 | img_url: '400x400' }}">
          <img class="starimg" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" alt="" sizes="397px" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110">
        <a href="" class="shop-btn">
          Shop pendants
        </a>
        </div>
        <div class="anna-product-coll">
<!--           <img class="product_img" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/JASMINE-ZALE-LOOK_20180511_1276.png?v=1612160064"> -->
        <img class="product_img" src="{{ section.settings.anna-diamond-img3 | img_url: '400x400' }}">
          
          <img class="starimg" data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" alt="" sizes="397px" src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/Element.png?v=1611814110">
        <a href="" class="shop-btn">
          Shop pendants
        </a>
        </div>
      </div>
    </div>
  </div>


</div>