{% comment %}
Renders a product card using "Grid" style
Accepts:
- max_height: {Number} Maximum height of the product's image (required)
- product: {Object} Product Liquid object (required)
- show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

Usage:
{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="grid-view-item mm-product-card {% unless product.available %} grid-view-item--sold-out{% endunless %} product-card text-center">
  
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {%- assign img_url_2 = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {%- assign img_url_last = product.images.last | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  
  {% include "image-alt-pattern" %}
  
  <div class="mm-product-image {% if product.images.size > 1 and product.type contains "Ring" %} has-hover-img {% endif %}">
    <div class="mm-product-link">
      {% for tag in product.tags %}
        {% if tag contains 'Vault' %}
        <div class="mm-badges">
          <div class="valut-badge">
            <img class="lazyload" 
                 data-src="https://cdn.shopify.com/s/files/1/0267/0523/1943/files/New_Enchanted_Vault_Icon_4d55c33f-0e65-42a0-a781-113a3340e6fc.png?v=1636635621" 
                 data-sizes="auto" 
                 sizes="25px" >
            <p class="tooltip_vault">Once sold out, never to be seen again!</p>
          </div>
        </div>
        {% break %}
        {% endif %}
      {% endfor %}
      <div class="loader-wrapper lazyload">
        <div class="loader-line"></div>
      </div>
      <div class="product-image-wrapper">
        {% for image in product.images %}
        <div class="product-image">
          <a href="{{ product.url }}" class="mm-image-link">
            <div class="absolute-image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
              <img id="{{ img_id }}"
                   class="grid-view-item__image lazyload first-image"
                   data-src="{{ image | img_url:"600x" }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ brand }}-{{ princess }}{{ gemstone }}{{ product_name | replace: '-', '_' }}{{ material }}{%- if cttwLength.size > 1 -%}_{{ cttw2 }}CTTW{%- endif -%}"
                   data-image>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="mm-product-info">
    <span class="product__selected-varient hide">14K White Gold</span>
    
    {% if page.handle != 'mid-annual-diamond-jewelry-sale' %}
    <a href="{{ product.url }}" class="mm-product-title">{{ product.title }}</a>
    <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">
      {{ product.metafields.stamped.badge }}
    </span>
    {% else %}
    <a href="{{ product.url }}" class="mm-product-title">{{ product.title | split:"Enchanted Disney Fine Jewelry" | last }}</a>
    {% endif %}
    
    <div class="price-action-button-wrapper">
      {% include 'product-slider-price', variant: product.selected_or_first_available_variant, product: product, show_vendor: show_vendor %}

      {% assign variantSize = product.variants | size %}
      {% if product.available %}
      {% if variantSize == 1  %}
      <form method="post" action="/cart/add" data-id="{{product.variants[0].id}}">
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
        <input type="hidden" name="quantity" value="1"/>
        <button type="button" class="btn_style1 btn-border add-to-cart-button">
          <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
          {{ 'products.product.add_to_cart' | t }}
          <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
        </button>
      </form>
      {% else %}
      <a href="{{ product.url }}" class="btn_style1 btn-border">
        <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
        Select Size
        <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
      </a>
      {% endif %}
      {% else %}
      <button type="submit" class="btn_style1 btn-border" disabled>
        <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
        {{ 'products.product.sold_out' | t }}
        <span class="btn-sparkle">{% include 'icon-sparkle' %}</span>
      </button>
      {% endif %}
    </div>
    
  </div>
  
</div>
